include ../common/Data.pug
include ../common/Functions.pug

include ../components/Accordion.pug
include ../components/ListGroup.pug
include ../components/Card.pug
include ../components/CardNews.pug
include ../components/Pagination.pug
include ../components/SelectDropdown.pug
include ../components/CardNews.pug
include ../components/Pagination.pug
include ../components/Checkbox.pug
include ../components/Radio.pug
include ../components/Input.pug
include ../components/InputCopy.pug
include ../components/Modal.pug
include ../containers/HeadingCard.pug
include ../containers/Category.pug
include ../containers/BookDetailInformation.pug
include ../containers/BookDetailTab.pug
include ../containers/Cart.pug
include ../containers/Bill.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Template Gulp
    block head
    link(rel="stylesheet" type="text/css" href="./assets/css/library/fancybox.css")
    link(rel="stylesheet" type="text/css" href="./assets/css/library/owl.carousel.min.css")
    link(rel="stylesheet" type="text/css" href="./assets/css/library/select2.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css")
    //- CSS
    link(rel="stylesheet" type="text/css" href="./assets/css/main.css")
    //- Favicon
    link(rel="icon" type="image/png" href="./assets/images/favicon.png")

  body
    include ../containers/Header.pug
    include ../containers/HeaderMobile.pug
    include ../containers/MenuMobile.pug
    main
      block pages
      include ../containers/Support.pug

    include ../containers/Footer.pug

    block script
    //- Java Script
    script(src="./assets/js/jquery.min.js")
    script(src="./assets/js/popper.min.js")
    script(src="./assets/js/bootstrap.min.js")
    script(src="./assets/js/select2.min.js")
    script(src="./assets/js/owl.carousel.min.js")
    script(src="./assets/js/fancybox.umd.js")
    script(src="./assets/js/main.js")
