section.BannerHome.d-lg-block.d-none
  #carouselHome.owl-carousel
    .item.resize-banner-slider
      img(src="./assets/images/image-banner-slider-home.png" alt="" class="w-100")
    .item.resize-banner-slider
      img(src="./assets/images/image-banner-slider-home-1.png" alt="" class="w-100")
section.BannerHome-mobile.d-block.d-lg-none
  #carouselHomeMobile.owl-carousel
    .item.resize-banner-slider
      img(src="https://s3-alpha-sig.figma.com/img/901d/58fa/914da7e87ee55c8b7b904db319f92ea9?Expires=1698019200&Signature=i1dduGkHrVP6VrlXwKoISVJfY9whbzibtk9wjt5nwqCbJCXNcB6Z7V0ur2wBnTOT0ySWyTC96ekOvqS4qpoOSWQ~Aitm1SChPwhfLoEQSDPm56mHDfxlUkx3E-KbqlBcQzdkiKdeRyzN9RIvTRxR6tBpTe130xOCvNaK58j1-YqLGIPYy1darh8p4pCFybDCoMrSnwowd02eOOPee33DXMu-COeDEzBePW8K3ieSoMwZdmgaiTMos~AURbItAL2T8sywcdMjNszJlP58ZnN~hDBcrFW~hwIWQ0asrtVVg29ZC9ba0ygye5OnHTTswYohXsgnVklcvFwXD3Iq4x6Xuw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="" class="w-100")
    .item.resize-banner-slider
      img(src="https://s3-alpha-sig.figma.com/img/901d/58fa/914da7e87ee55c8b7b904db319f92ea9?Expires=1698019200&Signature=i1dduGkHrVP6VrlXwKoISVJfY9whbzibtk9wjt5nwqCbJCXNcB6Z7V0ur2wBnTOT0ySWyTC96ekOvqS4qpoOSWQ~Aitm1SChPwhfLoEQSDPm56mHDfxlUkx3E-KbqlBcQzdkiKdeRyzN9RIvTRxR6tBpTe130xOCvNaK58j1-YqLGIPYy1darh8p4pCFybDCoMrSnwowd02eOOPee33DXMu-COeDEzBePW8K3ieSoMwZdmgaiTMos~AURbItAL2T8sywcdMjNszJlP58ZnN~hDBcrFW~hwIWQ0asrtVVg29ZC9ba0ygye5OnHTTswYohXsgnVklcvFwXD3Iq4x6Xuw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="" class="w-100")
