section.BannerHome.d-md-block.d-none
  #carouselHome.owl-carousel
    .item.resize-banner-slider
      img(src="./assets/images/image-banner-slider-home.png" alt="" class="w-100")
    .item.resize-banner-slider
      img(src="./assets/images/image-banner-slider-home-1.png" alt="" class="w-100")
section.BannerHome-mobile.d-block.d-md-none
  #carouselHomeMobile.owl-carousel
    .item.resize-banner-slider
      img(src="./assets/images/image-banner-slider-mobile.jpg" alt="" class="w-100")
    .item.resize-banner-slider
      img(src="./assets/images/image-banner-slider-mobile.jpg" alt="" class="w-100")
