section.BannerHome
  #carouselHome.owl-carousel
    .item
      img(src="./assets/images/image-banner-slider-home.png" alt="" class="w-100")
    .item
      img(src="./assets/images/image-banner-slider-home-1.png" alt="" class="w-100")
