.BookDetail-publishInformation.mt-theme-30.mb-theme-30
  h4.BookDetail-publishInformation-title Thông tin xuất bản
  .row
    .col-lg-6
      table.table.table-bordered.table-publishInformation
        tbody
          each item in [1,2,3,4]
            tr
              td
                .d-flex.align-items-center
                  img(src='./assets/images/image-building.png')
                  | NXB:
              td Nh&agrave; xu&#x1EA5;t b&#x1EA3;n X&acirc;y d&#x1EF1;ng
    .col-lg-6
      table.table.table-bordered.table-publishInformation
        tbody
          each item in [1,2,3,4]
            tr
              td
                .d-flex.align-items-center
                  img(src='./assets/images/image-building.png')
                  | NXB:
              td Nh&agrave; xu&#x1EA5;t b&#x1EA3;n X&acirc;y d&#x1EF1;ng
