.BookDetail-gallery.mb-theme-15
  .BookDetail-gallery-thumbnail
    .BookDetail-gallery-thumbnail-carousel#big02.owl-carousel.owl-theme
      .item.position-relative.resize-card-thumb-preview
        img(src='./assets/images/image-book-cover-v2.png')
      .item.position-relative.resize-card-thumb-preview
        img(src='./assets/images/image-book-cover-v2.png')
    div.d-flex.mt-theme-30.pl-theme-2
      .BookDetail-gallery-thumbnail-nav.width-100
        h6.mb-theme-4 Gợi ý các gói tài khoản khác của BenBooks:
        #thumbs02.owl-carousel.owl-theme
          .item
            div.resize-thumb-gallery-02
              img(src="./assets/images/image-book-cover-v2-small.png" width="80")
            p.text-center.mt-theme-2 Vip 6 tháng
          .item
            div.resize-thumb-gallery-02
              img(src="./assets/images/image-book-cover-v2-small.png" width="80")
            p.text-center.mt-theme-2 Vip 6 tháng
