.BookDetail-gallery
  .BookDetail-gallery-thumbnail
    .BookDetail-gallery-thumbnail-carousel#myCarousel.f-carousel
      a.f-carousel__slide( href="./assets/images/image-book-cover-detail.png" data-thumb-src='./assets/images/image-book-cover-detail-small.png' data-fancybox="gallery")
        img(width="100%" alt='' data-lazy-src='./assets/images/image-book-cover-detail.png')
        span
          img(src="./assets/images/image-badge-cover.png")
      a.f-carousel__slide( href="./assets/images/image-book-cover-detail-1.png" data-thumb-src='./assets/images/image-book-cover-detail-small-1.png' data-fancybox="gallery")
        img(width="100%" alt='' data-lazy-src='./assets/images/image-book-cover-detail-1.png')
        span
          img(src="./assets/images/image-badge-cover.png")
