.BookDetail-wrapper.d-flex.justify-content-between
  .BookDetail-wrapper-item.author
    h4.BookDetail-wrapper-item-title.mb-theme-4 Tác giả
    .BookDetail-wrapper-item-left.d-flex
      .BookDetail-wrapper-item-left-image
        img(src="./assets/images/image-author.png" width="36" height="36" alt="")
      .BookDetail-wrapper-item-left-body.ml-theme-4
        h6.BookDetail-wrapper-item-left-body-title Elizabeth Cole
        p.BookDetail-wrapper-item-left-body-desc Chủ biên
      .BookDetail-wrapper-item-btn
        a.btn.btn-outline-primary.btn-outline-radius(href="#") Xem chi tiết
  .BookDetail-wrapper-item.provider
    h4.BookDetail-wrapper-item-title.mb-theme-4 Nhà cung cấp:
    .BookDetail-wrapper-item-left.d-flex
      .BookDetail-wrapper-item-left-image
        img(src="./assets/images/image-logo-provider.png" width="36" height="36" alt="")
      .BookDetail-wrapper-item-left-body.ml-theme-4
        h6.BookDetail-wrapper-item-left-body-title Công ty CP văn hóa và bản quyền Benito
        p.BookDetail-wrapper-item-left-body-desc Nhà phát hành tin cậy
