.row
  .col-lg-6
    .BookDetail-gallery
      .BookDetail-gallery-thumbnail
        .BookDetail-gallery-thumbnail-carousel#myCarousel.f-carousel
          a.f-carousel__slide( href="./assets/images/image-book-cover-detail.png" data-thumb-src='./assets/images/image-book-cover-detail-small.png' data-fancybox="gallery")
            img(width="100%" alt='' data-lazy-src='./assets/images/image-book-cover-detail.png')
            span
              img(src="./assets/images/image-badge-cover.png")
          a.f-carousel__slide( href="https://lipsum.app/id/35/640x480" data-thumb-src='https://lipsum.app/id/35/192x144' data-fancybox="gallery")
            img(width="100%" alt='' data-lazy-src='https://lipsum.app/id/35/640x480')
          a.f-carousel__slide( href="https://lipsum.app/id/34/640x480" data-thumb-src='https://lipsum.app/id/34/192x144' data-fancybox="gallery")
            img(width="100%" alt='' data-lazy-src='https://lipsum.app/id/34/640x480')
          a.f-carousel__slide( href="https://lipsum.app/id/60/640x480" data-thumb-src='https://lipsum.app/id/60/192x144' data-fancybox="gallery")
            img(width="100%" alt='' data-lazy-src='https://lipsum.app/id/60/640x480')
          a.f-carousel__slide( href="https://lipsum.app/id/33/640x480" data-thumb-src='https://lipsum.app/id/33/192x144' data-fancybox="gallery")
            img(width="100%" alt='' data-lazy-src='https://lipsum.app/id/33/640x480')
          a.f-carousel__slide( href="https://lipsum.app/id/59/640x480" data-thumb-src='https://lipsum.app/id/59/192x144' data-fancybox="gallery")
            img(width="100%" alt='' data-lazy-src='https://lipsum.app/id/59/640x480')
          a.f-carousel__slide( href="https://lipsum.app/id/37/640x480" data-thumb-src='https://lipsum.app/id/37/192x144' data-fancybox="gallery")
            img(width="100%" alt='' data-lazy-src='https://lipsum.app/id/37/640x480')
    .BookDetail-action.d-flex.mt-theme-30
        button.btn.btn-success.mr-theme-4.w-100 Đọc ngay (153 ngày)
        button.btn.btn-primary.ml-theme-4.w-100 Nghe ngay (13 ngày)
  .col-lg-6
    .BookDetail-infor
      h1.BookDetail-infor-title [Sách giấy]  Cơ thể siêu rắc rối
      h3.BookDetail-infor-subtitle.mt-theme-4.mb-theme-4 Hà Nội, Hải Phòng, Vinh, Huế, Đà Nẵng, Hội An, Đà Lạt, Nha Trang
      .BookDetail-infor-rate.d-flex.align-items-center.justify-content-between
        .BookDetail-infor-rate-item
          span.mr-theme-4  4.5
          each item in [1,2,3,4,5]
            i.fas.fa-star
        .BookDetail-infor-rate-item
          span.mr-theme-4 52358
          span Lượt xem
        .BookDetail-infor-rate-item
          span.mr-theme-4 3639
          span Đã bán
        .BookDetail-infor-rate-item
          a(href="").share
            svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
              path(d='M11 2.5C11 1.11929 12.1193 0 13.5 0C14.8807 0 16 1.11929 16 2.5C16 3.88071 14.8807 5 13.5 5C12.7411 5 12.0611 4.66182 11.6026 4.12792L4.88498 7.2482C4.95971 7.48549 5 7.73804 5 8C5 8.26196 4.95971 8.51451 4.88498 8.7518L11.6026 11.8721C12.0611 11.3382 12.7411 11 13.5 11C14.8807 11 16 12.1193 16 13.5C16 14.8807 14.8807 16 13.5 16C12.1193 16 11 14.8807 11 13.5C11 13.238 11.0403 12.9855 11.115 12.7482L4.39739 9.62792C3.93889 10.1618 3.25894 10.5 2.5 10.5C1.11929 10.5 0 9.38071 0 8C0 6.61929 1.11929 5.5 2.5 5.5C3.25894 5.5 3.93889 5.83818 4.39739 6.37208L11.115 3.2518C11.0403 3.01451 11 2.76196 11 2.5Z' fill='#262626')

    .BookDetail-table.see-more#see-more.position-relative
        table.table.table-bordered
          thead
            tr
              th(scope='col').text-center STT
              th(scope='col') Sách trong tuyển tập
              th(scope='col').text-center Thao tác
          tbody
            tr
              th(scope='row').text-center 1
              td Giáo trình lịch sử kiến trúc thế giới tập 1
              td.text-center
                a.btn.btn-outline-primary.btn-outline-xs Đọc thử
            tr
              th(scope='row').text-center 2
              td Giáo trình lịch sử kiến trúc thế giới tập 2
              td.text-center
                a.btn.btn-outline-success.btn-outline-xs Nghe thử
            each item in [3,4,5,6,7]
              tr
                th(scope='row').text-center=item
                td Giáo trình lịch sử kiến trúc thế giới tập 1
                td.text-center
                  a.btn.btn-outline-primary.btn-outline-xs Đọc thử
        .BookDetail-table-btn.btn-see-more.d-flex.align-items-center.justify-content-center#seeBtn
          svg(width='18' height='18' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M12 9.3335L8.70711 6.0406C8.31658 5.65008 7.68342 5.65008 7.29289 6.0406L4 9.3335' stroke='#0065CA' stroke-width='1.5' stroke-linecap='round')
          span.ml-theme-4.see-full Xem đầy đủ
    .BookDetail-data.mt-theme-4
        .BookDetail-data-item.d-flex.align-items-center
          span.BookDetail-data-item-text Danh mục:
          .BookDetail-data-item-category
            a(href="").mr-theme-4 Sách thiếu nhi
            a(href="").mr-theme-4 Minh họa
            a(href="") Truyện tranh
        .BookDetail-data-item.d-flex.align-items-center
          span.BookDetail-data-item-text Đơn giá:
          .BookDetail-data-item-price
             |311.500đ
             span /Cuốn
        .BookDetail-data-item.d-flex.align-items-center
          span.BookDetail-data-item-text Chọn số lượng:
          .BookDetail-data-item-quantity
              include ../components/Quantity.pug
        .BookDetail-data-item.d-flex.align-items-center
          span.BookDetail-data-item-text Chọn thời gian đọc:
          .BookDetail-data-item-time
            +SelectDropdownCustom({data: dataBookDetail})
    .BookDetail-suggest
      h6.BookDetail-suggest-title Gợi ý cuốn sách này với định dạng khác
      .BookDetail-suggest-wrapper.d-flex.align-items-center.mt-theme-4#BookDetail-choose
        .BookDetail-suggest-wrapper-item.item-list.active
          img(src="../../assets/icons/icon-book.svg" alt="" width="30" height="30")
          span.mt-theme-4.ebook-text Sách in
        .BookDetail-suggest-wrapper-item.item-list
          img(src="../../assets/icons/icon-ebook.svg" alt="" width="30" height="30")
          span.mt-theme-4.ebook-text Ebook
        .BookDetail-suggest-wrapper-item.item-list
          img(src="../../assets/icons/icon-audio.svg" alt="" width="30" height="30")
          span.mt-theme-4.ebook-text Audio
        .BookDetail-suggest-wrapper-item.item-list
          img(src="../../assets/icons/icon-video.svg" alt="" width="30" height="30")
          span.mt-theme-4.ebook-text Video

    .BookDetail-promotion
      .BookDetail-promotion-header.d-flex.align-items-center
        img(src="../../assets/icons/icon-promotion.svg" alt="" width="16" height="16")
        span.ml-theme-2 Khuyến mại được áp dụng
      .BookDetail-promotion-body
        each item in [1,2,3,4]
          .BookDetail-promotion-body-item.d-flex.align-items-center
            .BookDetail-promotion-body-item-left.d-flex
              img(src="../../assets/icons/icon-momo.svg" alt="" width="16" height="16")
              h6.BookDetail-promotion-body-item-left-title.ml-theme-4 Khuyến mãi:
            .BookDetail-promotion-body-item-right.ml-theme-4 Mua bộ sách giấy tặng bộ ebook
    .line-dash
    .BookDetail-action.d-flex.align-items-center
      button.btn.btn-orange-brand.w-100.mr-theme-6 Mua ngay
      button.btn.btn-outline-orange.w-100 Thêm vào giỏ
    ul.BookDetail-service
     each item in [1,2,3,4,5]
       li.BookDetail-service-item.d-flex.align-items-center.mb-theme-4
         img(src="../../assets/icons/icon-check.svg" alt="" width="16" height="16")
         span.ml-theme-4
           | Cam kết sách thật 100%
           a(href="#") (Chi tiết)
