mixin Cart({ method })
  section.Cart(class=method ? 'Medthod' : '')
    +HeadingCard({title: "Giỏ sách của bạn", className: '.Cart-title', isViewAll: true, isViewLabel: 'Chọn lại'})
    .Cart-wrapper
      .row.d-flex.justify-content-center.Cart-heading
        .col-1
          +Checkbox("")
        .col-6
          h4.heading Tất cả (3 sách)
        .col-5.Cart-heading-title
          .row.text-right
            .col-5
              h6.mt-2 Số lượng
            .col-5
              h6.mt-2 Thành tiền
            .col-2
              a(href='#').mt-2
                img(src="./assets/images/image-delete-cart.png", alt="", srcset="")
      .row.d-flex.justify-content-center.border-top.Cart-row
        .col-1
          +Checkbox("")
        .col-6
          .d-flex.Cart-card
            .Cart-card-book
              .Cart-card-book-cover
                img.book-img(src='https://i.imgur.com/Oj1iQUX.jpg')
              +Tag({tag: 'Video'})
            .my-auto.flex-column.d-flex.pad-left.Cart-card-info
              .Cart-card-heading Giáo trình Lí thuyết xác suất trong kinh tế và tài chính
              .Cart-card-description Tác giả: TS. Nguyễn Mạnh Thế, TS. Phạm Ngọc Hưng, ThS. Bùi Dương Hải
              .Cart-card-label
                span.Cart-price-label Đơn giá:
                span.Cart-price
                  span 311.500
                  span.Cart-price-unit đ
                span.Cart-price-old
                  span 311.500
                  span.Cart-price-old-unit đ
        .col-5.Cart-info-mobile
          .row.text-right.Cart-info-mobile-wrapper
            .col-5.Cart-info-mobile-btn
                if method
                  | 1 cuốn
                else
                  include ../../includes/components/Quantity.pug
            .col-5.Cart-price
              span 311.500
              span.Cart-price-unit đ
            .col-2
              a(href='#').mt-2
                img(src="./assets/images/image-delete-cart.png", alt="", srcset="")
      .row.d-flex.justify-content-center.border-top.Cart-row
        .col-1
          +Checkbox("")
        .col-6
          .d-flex.Cart-card
            .Cart-card-book
              .Cart-card-book-cover
                img.book-img(src='https://i.imgur.com/Oj1iQUX.jpg')
              +Tag({tag: 'Ebook'})
            .my-auto.flex-column.d-flex.pad-left.Cart-card-info
              .Cart-card-heading Giáo trình Lí thuyết xác suất trong kinh tế và tài chính
              .Cart-card-description Tác giả: TS. Nguyễn Mạnh Thế, TS. Phạm Ngọc Hưng, ThS. Bùi Dương Hải
              .Cart-card-label
                span.Cart-price-label Đơn giá:
                span.Cart-price
                  span 311.500
                  span.Cart-price-unit đ
                span.Cart-price-old
                  span 311.500
                  span.Cart-price-old-unit đ
        .col-5.Cart-info-mobile
          .row.text-right.Cart-info-mobile-wrapper
            .col-5.Cart-info-mobile-btn
              if method
                | 1 cuốn
              else
                +SelectDropdownCustom({data: dataBookDetail,className: 'has-radius'})
            .col-5.Cart-price
              span 311.500
              span.Cart-price-unit đ
            .col-2
              a(href='#').mt-2
                img(src="./assets/images/image-delete-cart.png", alt="", srcset="")
