footer.Footer
  .container
    .row
      .col-lg-3.col-md-6.col-sm-6.col-12.footer-col
        a.logo-ft(href="#")
          img(src="../assets/images/logo-ft-betino.png", alt="", srcset="")
        .Footer-wrapper
          .title
            h3 Nhà sách Benito online
            .work-time (Hoạt động từ 8h - 17h, Thứ 2 - Thứ 7)
          .Footer-wrapper-item
            img(src="../assets/icons/phone.svg", alt="", srcset="")
            a(href="tel:+0888 080 290")
              span Hotline:
              span 0888 080 290
          .Footer-wrapper-item
            img(src="../assets/icons/mail.svg", alt="", srcset="")
            a(href="mailto:haianh.pham@benitovn.com ")
              span Email:
              span haianh.pham@benitovn.com
        .Footer-wrapper
          .title
            h3 Nhà sách Benito Offline
            .work-time (Hoạt động từ 8h - 17h, Thứ 2 - Thứ 7)
          .Footer-wrapper-item
            img(src="../assets/icons/location.svg", alt="", srcset="")
            a(href="http://")
              span Ki-ốt sách : Ki-ốt 7 - Phố 19 tháng 12 - Trần Hưng Đạo - Hoàn Kiếm - Hà Nội
          .Footer-wrapper-item
            img(src="../assets/icons/phone.svg", alt="", srcset="")
            a(href="tel:+0888 080 290")
              span Gọi đặt hàng:
              span 0888 080 290
          .Footer-wrapper-item
            img(src="../assets/icons/code.svg", alt="", srcset="")
            a(href="http://")
              span Mã số thuế:
              span 0109653575
      .col-lg-3.col-md-6.col-sm-6.col-12.footer-col
        h5 Hỗ trợ khách hàng
        ul.Footer-list
          li
            a(href="http://") Cách thức vận chuyển
          li
            a(href="http://") Chính sách khách hàng mua sỉ
          li
            a(href="http://") Chính sách hồi hoàn
          li
            a(href="http://") Hướng dẫn đọc sách ebook
          li
            a(href="http://") Hướng dẫn thuê sách ebook
          li
            a(href="http://") Hướng dẫn mua sách giấy
          li
            a(href="http://") Hướng dẫn đăng ký tài khoản
          li
            a(href="http://") Hướng dẫn nạp tiền vào ví
          li
            a(href="http://") Hướng dẫn kiểm tra tem sách
          li
            a(href="http://") Điều khoản sử dụng
      .col-lg-3.col-md-6.col-sm-6.col-12.footer-col
        h5 về chúng tôi
        ul.Footer-list
          li
            a(href="http://") Giới thiệu
          li
            a(href="http://") Liên hệ
        ul.Footer-scan
          li
            a(href="http://")
              img(src="../assets/images/ch-play.png", alt="", srcset="")
          li
            a(href="http://")
              img(src="../assets/images/app-store.png", alt="", srcset="")
          li
            a(href="http://")
              img(src="../assets/images/dathongbao-1024x388.png", alt="", srcset="")
      .col-lg-3.col-md-6.col-sm-6.col-12.footer-col
        h5 Theo dõi chúng tôi trên
        ul.Footer-list.socical
          li
            a(href="http://")
              img(src="../assets/images/facebook.png", alt="", srcset="")
              span 400 theo dõi trang
          li
            a(href="http://")
              img(src="../assets/images/tiktok.png", alt="", srcset="")
              span 3.122 theo dõi trang
          li
            a(href="http://")
              img(src="../assets/images/youtube.png", alt="", srcset="")
              span 3.122 theo dõi trang
        h5 Gian hàng của Benito
        ul.Footer-list.socical
          li
            a(href="http://")
              img(src="../assets/images/shopee.png", alt="", srcset="")
              span Trên Shopee
          li
            a(href="http://")
              img(src="../assets/images/lazada.png", alt="", srcset="")
              span Trên Lazada
          li
            a(href="http://")
              img(src="../assets/images/tiki.png", alt="", srcset="")
              span Trên Tiki
  .copy-right Copyright © 2021 - Benito. All rights reserved.
