header.Header
  .container 
    .Header-wrapper.flex.items-center.justify-between
      .Header-wrapper-item.flex.items-center
        .Header-logo
          img(src="../assets/images/image-logo-benito.png", alt="")

      .Header-wrapper-item.flex.items-center
        .Header-hotline.flex.items-center 
          .Header-hotline-item.flex.items-center 
            .Header-hotline-item-icon 
              img(src="../assets/icons/call-calling.svg", alt="")
            .Header-hotline-item-info
              .Header-hotline-item-info-label Hotline:
              .Header-hotline-item-info-value 0382832993
        .Header-btns.flex.items-center
          +ButtonHeader({
            title: 'Tủ sách của bạn',
            size: 'small',
            styleType: 'primary',
            badge: { label: '1', styleType: 'red' },
            iconImage: '../assets/icons/shopping-cart.svg',
          })

          if isLogged
            .Header-account
              +Avatar({ name: 'T', badge: { label: '!', styleType: 'yellow' }, isHoverEffect: true })
              .Header-sub-items
                each item in dataDropdownAccount
                  a(href=`${item.link}`).Header-sub-items-item.flex.items-start
                    .Header-sub-items-item-icon 
                      if item.icon === 'user-circle'
                        <svg class="fill" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99999 14.6666C6.99202 14.6694 5.9968 14.4414 5.09065 13.9999C4.75902 13.8386 4.44127 13.6502 4.14065 13.4366L4.04932 13.3699C3.22253 12.7597 2.54657 11.9681 2.07332 11.0559C1.58381 10.1118 1.32992 9.06336 1.33328 7.99992C1.33328 4.31802 4.31809 1.33325 7.99999 1.33325C11.6819 1.33325 14.6667 4.31802 14.6667 7.99992C14.67 9.06285 14.4164 10.1108 13.9273 11.0546C13.4547 11.9662 12.7797 12.7575 11.954 13.3679C11.6425 13.5959 11.3119 13.7967 10.966 13.9679L10.9127 13.9946C10.0059 14.4384 9.00949 14.6683 7.99999 14.6666ZM7.99999 11.3332C7.00097 11.3313 6.08509 11.8893 5.62865 12.7779C7.12291 13.518 8.87706 13.518 10.3713 12.7779V12.7746C9.91431 11.8869 8.9984 11.3302 7.99999 11.3332ZM7.99999 9.99992C9.44406 10.0018 10.7756 10.78 11.486 12.0373L11.496 12.0286L11.5053 12.0206L11.494 12.0306L11.4873 12.0359C13.1733 10.5793 13.7762 8.22814 12.9991 6.13999C12.222 4.05184 10.2287 2.6668 8.00065 2.6668C5.77259 2.6668 3.77931 4.05184 3.00222 6.13999C2.22512 8.22814 2.82799 10.5793 4.51399 12.0359C5.22482 10.7793 6.55623 10.0017 7.99999 9.99992ZM7.99999 9.33325C6.52723 9.33325 5.33332 8.13934 5.33332 6.66659C5.33332 5.19383 6.52723 3.99992 7.99999 3.99992C9.47274 3.99992 10.6667 5.19383 10.6667 6.66659C10.6667 7.37383 10.3857 8.05211 9.8856 8.5522C9.38551 9.0523 8.70723 9.33325 7.99999 9.33325ZM7.99999 5.33325C7.26361 5.33325 6.66665 5.93021 6.66665 6.66659C6.66665 7.40297 7.26361 7.99992 7.99999 7.99992C8.73637 7.99992 9.33332 7.40297 9.33332 6.66659C9.33332 5.93021 8.73637 5.33325 7.99999 5.33325Z" fill="#828282"/></svg>
                      if item.icon === 'lock'
                        <svg class="stroke" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.66663 8.88746C2.66663 7.46476 3.73351 6.26823 5.14689 6.10577L7.68022 5.81458C7.89268 5.79016 8.10724 5.79016 8.31969 5.81458L10.853 6.10577C12.2664 6.26823 13.3333 7.46476 13.3333 8.88746V11.3886C13.3333 12.7515 12.3521 13.9164 11.009 14.1479L8.4757 14.5847C8.16086 14.639 7.83906 14.639 7.52422 14.5847L4.99089 14.1479C3.64786 13.9164 2.66663 12.7515 2.66663 11.3886V8.88746Z" stroke="#828282" stroke-width="1.3"/><circle cx="8.00002" cy="9.48146" r="0.740742" fill="#828282" stroke="#828282" stroke-width="1.3"/><path d="M5.33325 5.99992V3.99992C5.33325 2.52716 6.52716 1.33325 7.99992 1.33325V1.33325C9.47268 1.33325 10.6666 2.52716 10.6666 3.99992V5.99992" stroke="#828282" stroke-width="1.3" stroke-linecap="round"/><path d="M8 10.2222V11.7037" stroke="#828282" stroke-width="1.3" stroke-linecap="round"/></svg>
                      if item.icon === 'document'
                        <svg class="document" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="stroke" d="M13.3333 5.33333V12.4267C13.3333 12.979 12.8856 13.4267 12.3333 13.4267H3.66663C3.11434 13.4267 2.66663 12.979 2.66663 12.4267V3C2.66663 2.44772 3.11434 2 3.66663 2H9.99996" stroke="#828282" stroke-width="1.3" stroke-linecap="round"/><path class="fill" d="M13.7285 4.50069L10.8326 1.60482L9.91341 2.52406L12.8093 5.41992L13.7285 4.50069ZM9.35 2.21895V5.11482H10.65V2.21895H9.35ZM10.2185 5.98333H13.1144V4.68333H10.2185V5.98333ZM9.35 5.11482C9.35 5.59448 9.73885 5.98333 10.2185 5.98333V4.68333C10.4568 4.68333 10.65 4.87652 10.65 5.11482H9.35ZM10.8326 1.60482C10.2855 1.05768 9.35 1.44519 9.35 2.21895H10.65C10.65 2.60336 10.1852 2.79588 9.91341 2.52406L10.8326 1.60482ZM12.8093 5.41992C12.5375 5.1481 12.73 4.68333 13.1144 4.68333V5.98333C13.8881 5.98333 14.2756 5.04782 13.7285 4.50069L12.8093 5.41992Z" stroke-width="0" fill="#828282"/><line class="stroke" x1="6.65" y1="10.0165" x2="9.35" y2="10.0165" stroke="#828282" stroke-width="1.3" stroke-linecap="round"/><line class="stroke" x1="5.98325" y1="8.0165" x2="10.0166" y2="8.0165" stroke="#828282" stroke-width="1.3" stroke-linecap="round"/></svg>
                      if item.icon === 'books'
                        <svg class="fill" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.3931 12.8306L11.6509 2.44775C11.604 2.26025 11.3931 2.14307 11.1821 2.18994L10.8306 2.28369C10.6431 2.33057 10.5493 2.49463 10.5493 2.68213C10.2915 2.84619 9.04932 3.17432 8.72119 3.17432C8.65088 3.01025 8.46338 2.9165 8.29932 2.96338L8.0415 3.03369V2.9165C8.0415 2.51807 7.68994 2.1665 7.104 2.1665H1.479C1.24463 2.1665 0.916504 2.51807 0.916504 2.9165V13.4165C0.916504 13.8384 1.24463 14.1665 1.479 14.1665H7.104C7.68994 14.1665 8.0415 13.8384 8.0415 13.4165V4.88525L10.4087 13.9087C10.4556 14.0962 10.6665 14.2134 10.8774 14.1665L11.229 14.0728C11.4165 14.0259 11.5103 13.8618 11.5103 13.6743C11.7681 13.5103 13.0103 13.1821 13.3384 13.1821C13.4087 13.3462 13.5962 13.4399 13.7603 13.3931L14.1353 13.2993C14.3228 13.229 14.4399 13.0415 14.3931 12.8306ZM3.9165 13.0415H2.0415V11.9165H3.9165V13.0415ZM3.9165 10.7915H2.0415V5.5415H3.9165V10.7915ZM3.9165 4.4165H2.0415V3.2915H3.9165V4.4165ZM6.9165 13.0415H5.0415V11.9165H6.9165V13.0415ZM6.9165 10.7915H5.0415V5.5415H6.9165V10.7915ZM6.9165 4.4165H5.0415V3.2915H6.9165V4.4165ZM11.2524 12.7603L8.979 4.08838C9.37744 4.0415 10.4087 3.78369 10.8071 3.59619L13.0806 12.2681C12.6821 12.3149 11.6509 12.5728 11.2524 12.7603Z" fill="#828282"/></svg>
                      if item.icon === 'logout'
                        <svg class="fill" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.91663 3.66675C2.67444 3.66675 1.66663 4.67456 1.66663 5.91675V10.4167C1.66663 11.6589 2.67444 12.6667 3.91663 12.6667H5.88538C6.026 12.6667 6.16663 12.5496 6.16663 12.3855V11.823C6.16663 11.6824 6.026 11.5417 5.88538 11.5417H3.91663C3.28381 11.5417 2.79163 11.0496 2.79163 10.4167V5.91675C2.79163 5.30737 3.28381 4.79175 3.91663 4.79175H5.88538C6.026 4.79175 6.16663 4.67456 6.16663 4.5105V3.948C6.16663 3.80737 6.026 3.66675 5.88538 3.66675H3.91663ZM9.33069 4.1355L8.86194 4.60425C8.74475 4.698 8.74475 4.8855 8.86194 5.00269L11.5104 7.55737H5.69788C5.53381 7.55737 5.41663 7.698 5.41663 7.83862V8.49487C5.41663 8.65894 5.53381 8.77612 5.69788 8.77612H11.5104L8.86194 11.3542C8.74475 11.4714 8.74475 11.6589 8.86194 11.7527L9.33069 12.2214C9.42444 12.3386 9.61194 12.3386 9.72913 12.2214L13.5729 8.37769C13.6901 8.2605 13.6901 8.09644 13.5729 7.97925L9.72913 4.1355C9.61194 4.01831 9.42444 4.01831 9.33069 4.1355Z" fill="#828282"/></svg>

                    span= item.title

          else
            +ButtonHeader({
              title: 'Tài khoản',
              size: 'small',
              styleType: 'outline-primary',
              badge: { label: '!', styleType: 'yellow' },
              iconImage: '../assets/icons/profile-circle.svg'
            })

      .Header-wrapper-item.mobile.flex.items-center
        +ButtonHeader({
          size: 'middle',
          styleType: 'outline-primary',
          iconImage: '../assets/icons/shopping-cart.svg'
        })
        +ButtonHeader({
          size: 'middle',
          styleType: 'outline-primary',
          iconImage: '../assets/icons/profile-circle.svg'
        })

        +ButtonHeader({
          className: 'NavigationMobile-open',
          size: 'middle',
          styleType: 'outline-primary',
          iconImage: '../assets/icons/menu.svg'
        })