header
  .header-top
    .container
  nav.header-menu
    .container
       .header-menu-wrapper.d-flex.justify-content-between
         .header-menu-wrapper-left
           i.fa.fa-bars
           span Danh mục
           i.fa.fa-angle-down
         ul.header-menu-wrapper-right.d-flex.align-items-center
            li.header-menu-wrapper-right-item
                a(href="#").header-menu-wrapper-right-item-link Trang chủ
            li.header-menu-wrapper-right-item
                a(href="#").header-menu-wrapper-right-item-link
                  span
                    | Giới thiệu
                    i.fa.fa-angle-down
                ul.header-menu-wrapper-right-dropdown
                    each item in [1,2,3]
                      li.header-menu-wrapper-right-dropdown-item
                        a(href="#").header-menu-wrapper-right-item-link Sub 1
