header.Header
  .container 
    .Header-wrapper.flex.items-center.justify-between
      .Header-wrapper-item.flex.items-center
        .Header-logo
          img(src="../assets/images/image-logo-benito.png", alt="")
      .Header-wrapper-item.flex.items-center.Header-search
        +Search({title: 'Nhập từ khóa tìm kiếm'})
      .Header-wrapper-item.flex.items-center
        .Header-hotline.flex.items-center 
          .Header-hotline-item.flex.items-center 
            .Header-hotline-item-icon 
              img(src="../assets/icons/call-calling.svg", alt="")
            .Header-hotline-item-info
              .Header-hotline-item-info-label Hotline:
              .Header-hotline-item-info-value 0382832993
        .Header-btns.flex.items-center
          +ButtonHeader({
            title: 'Giỏ hàng',
            size: 'small',
            styleType: 'primary',
            badge: { label: '1', styleType: 'red' },
            iconImage: '../assets/icons/shopping-cart.svg',
          })
          +ButtonHeader({
            title: 'Tài khoản',
            size: 'small',
            styleType: 'outline-primary',
            iconImage: '../assets/icons/profile-circle.svg'
          })
          +ButtonHeader({
            className: 'NavigationMobile-open',
            size: 'middle',
            styleType: 'outline-primary',
            iconImage: '../assets/icons/menu.svg'
          })

