header
  .header-top
    .container
      .header-top-wraper
        .header-top-wrapper-logo
          img(src="../../assets/images/image-logo.png" width="142" alt="")
        .header-top-wrapper-search
          .input-group.mb-3
            include ../components/SelectDropdown.pug
            input.form-control(type='text' aria-label='Text input with dropdown button')
        .header-top-wrapper-action
          .header-top-wrapper-action-item.calling
            .header-top-wrapper-action-item-phone
              img(src="../../assets/icons/call-calling.svg" alt="#")
            .header-top-wrapper-action-item-text
              span HotLine
              p 0904506621
          .header-top-wrapper-action-item
            a(href="#").header-top-wrapper-action-item-cart
               img(src="../../assets/icons/shopping-cart.svg" alt="#")
               span Giỏ hàng
          .header-top-wrapper-action-item
            a(href="#").header-top-wrapper-action-item-cart
              img(src="../../assets/icons/profile-circle.svg" alt="#")
              span Tài khoản
  nav.header-menu
    .container
       .header-menu-wrapper.d-flex.justify-content-between
         .header-menu-wrapper-left
           i.fa.fa-bars
           span Danh mục
           i.fa.fa-angle-down
         ul.header-menu-wrapper-right.d-flex.align-items-center
            li.header-menu-wrapper-right-item
                a(href="#").header-menu-wrapper-right-item-link Trang chủ
            li.header-menu-wrapper-right-item
                a(href="#").header-menu-wrapper-right-item-link
                  span
                    | Giới thiệu
                    i.fa.fa-angle-down
                ul.header-menu-wrapper-right-dropdown
                    each item in [1,2,3]
                      li.header-menu-wrapper-right-dropdown-item
                        a(href="#").header-menu-wrapper-right-item-link Sub 1
