header
  .header-top
    .container
      .header-top-wraper.d-flex.align-items-center.justify-content-between
        a(href="/").header-top-wrapper-logo
          img(src="./assets/images/image-logo.png" width="142" alt="")
        .header-top-wrapper-search
          include ../components/InputDropdown.pug
        .header-top-wrapper-action.d-flex.align-items-center
          .header-top-wrapper-action-item.calling.d-flex.align-items-center
            .header-top-wrapper-action-item-phone.mr-theme-4
              img(src="./assets/icons/call-calling.svg" alt="#")
            .header-top-wrapper-action-item-text
              span HotLine
              a(href="#").d-block 0904506621
          .header-top-wrapper-action-item
            a(href="#").header-top-wrapper-action-item-text.cart
               img(src="./assets/icons/shopping-cart.svg" alt="#")
               span Giỏ hàng
               span.number-cart 5
          .header-top-wrapper-action-item
            a(href="#").header-top-wrapper-action-item-text
              img(src="./assets/icons/profile-circle.svg" alt="#")
              span Tài khoản
  nav.header-menu
    .container
       .header-menu-wrapper.d-flex.justify-content-between.align-items-center.position-relative
         .header-menu-wrapper-left.d-flex.align-items-center
           i.fa.fa-bars.mr-theme-2
           h6.category.flex-grow-1 Danh mục
           span
             img(src="./assets/icons/icon-arrow-down.svg")
           .header-menu-wrapper-left-mega-menu
                .row.m-0
                  each item in [1,2,3]
                    .col-lg-3.p-0
                      .header-menu-wrapper-left-mega-menu-list
                        +HeadingCard({
                          title: "Sách giấy",
                          className: 'justify-content-between',
                          isViewAll: true
                        })
                        ul.header-menu-wrapper-left-mega-menu-list-category.mb-0
                          each item in [1,2,3,4,5,6,7]
                            li.header-menu-wrapper-left-mega-menu-list-category-item
                              a(href="#" class=`${item == 1 ? 'active' : ''}`).header-menu-wrapper-left-mega-menu-list-category-item-link Kỹ năng sống
                  .col-lg-3.p-0
                    .header-menu-wrapper-left-mega-menu-image
                      img(src="./assets/images/image-mega-menu.png")
         ul.header-menu-wrapper-right.d-flex.align-items-center.mb-0
            li.header-menu-wrapper-right-item
                a(href="#").header-menu-wrapper-right-item-link Trang chủ
            li.header-menu-wrapper-right-item
                a(href="#").header-menu-wrapper-right-item-link.d-flex.align-items-center
                  span
                    | Giới thiệu
                  span.ml-theme-4
                    img(src="./assets/icons/icon-arrow-down.svg")
                ul.header-menu-wrapper-right-dropdown.position-absolute
                  li.header-menu-wrapper-right-dropdown-item
                    a(href="#").header-menu-wrapper-right-dropdown-item-link Giới thiệu 1
                  li.header-menu-wrapper-right-dropdown-item
                    a(href="#").header-menu-wrapper-right-dropdown-item-link Giới thiệu 2
                  li.header-menu-wrapper-right-dropdown-item
                    a(href="#").header-menu-wrapper-right-dropdown-item-link Giới thiệu 3
            li.header-menu-wrapper-right-item
               a(href="#").header-menu-wrapper-right-item-link Tin tức
            li.header-menu-wrapper-right-item
             a(href="#").header-menu-wrapper-right-item-link Hợp tác xuất bản
            li.header-menu-wrapper-right-item
             a(href="#").header-menu-wrapper-right-item-link Tải danh mục sách
