.overlay-backdrop
.menu-mobile
    +ListGroupComponent({ isAccordion:true, name:"CHỦ ĐỀ",isSeeMore:false, data: dataAccordion })
    +ListGroupComponent({ isAccordion:false, name:"TÁC GIẢ", className:'dropdown-one-level',isSeeMore:false })
    +ListGroupComponent({ isAccordion:true, name:"TÁC GIẢ",isSeeMore:false})
    .close-menu 
        img(src="../../assets/images/close-circle.svg", alt="", srcset="")
