- 
  const dataMenu = [
    { link: '#', title: 'Trang chủ', subItems: [] },
    { 
      link: '#',
      title: 'Giới thiệu',
      subItems: [
        { link: '#', title: 'Về chúng tôi' },
        { link: '#', title: 'Liên hệ' },
      ],
    },
    { 
      link: '#',
      title: 'Tin tức',
      subItems: [
        { link: '#', title: 'Tin tức mới' },
        { link: '#', title: 'Sự kiện' },
      ],
    },
    { link: '#', title: 'Hợp tác xuất bản', subItems: [] },
    { link: '#', title: 'Tải danh mục sách', subItems: [] },
  ];


nav.Navigation 
  .NavigationMobile-overlay 
  .NavigationMobile-close 
      img(src="./assets/icons/icon-x-white.svg", alt="")
  .container 
    .Navigation-wrapper.flex.items-center.justify-between.NavigationMobile-main
      +ListGroupComponent({ isAccordion:true, icon: true, data: accordionData})
      .Navigation-wrapper-item
        .NavigationMobile-title Menu 
        .Navigation-list.NavigationMobile-list.flex.items-center 
          each item in dataMenu
            .Navigation-list-item.flex.items-center
              a(href=`${item.link}`)= item.title

              if item.subItems && item.subItems.length > 0
                .Navigation-list-item-caret 
                  img(src="./assets/icons/arrow-down.svg", alt="")

                  .Navigation-sub-items
                    each subItem in item.subItems
                      .Navigation-sub-items-item.flex.items-center
                        .Navigation-sub-items-item-icon 
                          if subItem.icon === 'user'
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 17" style="enable-background:new 0 0 16 17;" xml:space="preserve"><polygon fill="#828282" points="2.5,12.2 2.5,12.2 2.5,12.2 	"/><polygon fill="#828282" points="3.8,10.3 3.8,10.3 3.8,10.3 	"/><polygon fill="#828282" points="13.5,12.2 13.5,12.2 13.5,12.2 	"/><path fill="#828282" d="M14,14.4c0-0.8-0.2-1.5-0.5-2.2c-0.3-0.7-0.7-1.4-1.3-1.9l0,0c-0.5-0.5-1.1-0.9-1.7-1.2C11.4,8.4,12,7.2,12,6 c0-2.2-1.8-4-4-4C5.8,2,4,3.8,4,6c0,1.3,0.6,2.4,1.5,3.1c-0.6,0.3-1.2,0.7-1.7,1.2c-0.5,0.5-1,1.2-1.3,1.9C2.2,12.9,2,13.6,2,14.4 l0,0l0,0.1l0,0l0,0.1l0,0l0.1,0l0,0l0.1,0l0,0h1h0.1l0.2-0.2l0,0l0-0.1c0-1.2,0.5-2.3,1.3-3.1C5.6,10.4,6.8,10,8,10 c1.2,0,2.4,0.5,3.2,1.3c0.8,0.8,1.3,1.9,1.3,3.1l0,0.1l0.2,0.2h1h0l0.1,0l0,0l0.1,0l0,0l0-0.1L14,14.4L14,14.4L14,14.4L14,14.4z M8,3.4c0.7,0,1.3,0.3,1.8,0.8c0.5,0.5,0.8,1.1,0.8,1.8c0,0.7-0.3,1.3-0.8,1.8C9.3,8.3,8.7,8.5,8,8.5c-0.7,0-1.3-0.3-1.8-0.8 C5.7,7.3,5.4,6.7,5.4,6c0-0.7,0.3-1.3,0.8-1.8C6.7,3.7,7.3,3.4,8,3.4z"/></svg>

                          if subItem.icon === 'lock'
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99996 11.3334C8.73663 11.3334 9.33329 10.7367 9.33329 10.0001C9.33329 9.26342 8.73663 8.66675 7.99996 8.66675C7.26329 8.66675 6.66663 9.26342 6.66663 10.0001C6.66663 10.7367 7.26329 11.3334 7.99996 11.3334ZM12 5.33342H11.3333V4.00008C11.3333 2.16008 9.83996 0.666748 7.99996 0.666748C6.15996 0.666748 4.66663 2.16008 4.66663 4.00008H5.93329C5.93329 2.86008 6.85996 1.93341 7.99996 1.93341C9.13996 1.93341 10.0666 2.86008 10.0666 4.00008V5.33342H3.99996C3.26329 5.33342 2.66663 5.93008 2.66663 6.66675V13.3334C2.66663 14.0701 3.26329 14.6667 3.99996 14.6667H12C12.7366 14.6667 13.3333 14.0701 13.3333 13.3334V6.66675C13.3333 5.93008 12.7366 5.33342 12 5.33342ZM12 13.3334H3.99996V6.66675H12V13.3334Z" fill="#828282"/></svg>

                          if subItem.icon === 'history'
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.66329 2C5.34663 2 2.66663 4.68667 2.66663 8H0.666626L3.26329 10.5967L3.30996 10.6933L5.99996 8H3.99996C3.99996 5.42333 6.08996 3.33333 8.66663 3.33333C11.2433 3.33333 13.3333 5.42333 13.3333 8C13.3333 10.5767 11.2433 12.6667 8.66663 12.6667C7.37663 12.6667 6.21329 12.14 5.36996 11.2967L4.42663 12.24C5.50996 13.3267 7.00663 14 8.66329 14C11.98 14 14.6666 11.3133 14.6666 8C14.6666 4.68667 11.98 2 8.66329 2ZM7.99996 5.33333V8.66667L10.8533 10.36L11.3333 9.55L8.99996 8.16667V5.33333H7.99996Z" fill="#828282"/></svg>

                          if subItem.icon === 'money'
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9H2.5C2.224 9 2 8.776 2 8.5V2.5C2 2.224 2.224 2 2.5 2H11.5C11.776 2 12 2.224 12 2.5V5H11V3H3V8H6V9Z" fill="#828282"/><path d="M10.5 10C9.0245 10 7.7985 9.68054 7 9.14404C7 9.51704 7 9.76304 7 10C7 10.8285 8.567 11.5 10.5 11.5C12.433 11.5 14 10.8285 14 10C14 9.76304 14 9.51704 14 9.14404C13.2015 9.68054 11.9755 10 10.5 10Z" fill="#828282"/><path d="M10.5 12.5C9.0245 12.5 7.7985 12.1805 7 11.644C7 12.017 7 12.263 7 12.5C7 13.3285 8.567 14 10.5 14C12.433 14 14 13.3285 14 12.5C14 12.263 14 12.017 14 11.644C13.2015 12.1805 11.9755 12.5 10.5 12.5Z" fill="#828282"/><path d="M6.4545 6.336C6.7975 5.9355 7.3215 5.6085 7.9875 5.378C7.927 4.885 7.51 4.5 7 4.5C6.4485 4.5 6 4.9485 6 5.5C6 5.85 6.1815 6.1575 6.4545 6.336Z" fill="#828282"/><path d="M10.5 9C12.433 9 14 8.32843 14 7.5C14 6.67157 12.433 6 10.5 6C8.567 6 7 6.67157 7 7.5C7 8.32843 8.567 9 10.5 9Z" fill="#828282"/></svg>

                        a(href=`${subItem.link}`)= subItem.title