-
  const dataMenu = [
    { link: '#', title: 'Trang chủ', subItems: [] },
    { link: '#', title: 'Danh mục', subItems: [] },
    {
      link: '#',
      title: 'Tin tức',
      subItems: [],
    },
    {
      link: '#',
      title: 'Hướng dẫn',
      subItems: [
        { link: '#', title: 'Hướng dẫn Đăng ký', icon: 'user' },
        { link: '#', title: 'Hướng dẫn Đăng nhập', icon: 'lock' },
        { link: '#', title: 'Hướng dẫn Đọc sách', icon: 'history' },
        { link: '#', title: 'Hướng dẫn Mượn sách', icon: 'money' },
      ],
    },
  ]

  const dataMenuMobile = [
    { link: '#', title: 'Trang chủ', icon: 'book', subItems: [] },
    { link: '#', title: 'Danh mục', icon: 'bookmark', subItems: [] },
    { 
      link: '#',
      title: 'Tin tức',
      icon: 'public',
      subItems: [],
    },
    {
      link: '#',
      title: 'Hướng dẫn',
      icon: 'live-support',
      subItems: [
        { link: '#', title: 'Hướng dẫn Đăng ký', icon: 'document' },
        { link: '#', title: 'Hướng dẫn Đăng nhập - ví dụ 2 dòng thì như thế này nhé', icon: 'document' },
        { link: '#', title: 'Hướng dẫn đọc sách', icon: 'document' },
        { link: '#', title: 'Hướng dẫn mượn sách', icon: 'document' },
      ],
    },
  ]
  

.Navigation 
  .container 
    .Navigation-wrapper.flex.items-center.justify-between
      .Navigation-wrapper-item
        .Navigation-list.flex.items-center 
          each item in dataMenu
            .Navigation-list-item.flex.items-center
              a(href=`${item.link}`)= item.title

              if item.subItems && item.subItems.length > 0
                .Navigation-list-item-caret 
                  img(src="./assets/icons/icon-caret-down-white.svg", alt="")

                  .Navigation-sub-items
                    each subItem in item.subItems
                      .Navigation-sub-items-item.flex.items-center
                        .Navigation-sub-items-item-icon 
                          if subItem.icon === 'user'
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 17" style="enable-background:new 0 0 16 17;" xml:space="preserve"><polygon fill="#828282" points="2.5,12.2 2.5,12.2 2.5,12.2 	"/><polygon fill="#828282" points="3.8,10.3 3.8,10.3 3.8,10.3 	"/><polygon fill="#828282" points="13.5,12.2 13.5,12.2 13.5,12.2 	"/><path fill="#828282" d="M14,14.4c0-0.8-0.2-1.5-0.5-2.2c-0.3-0.7-0.7-1.4-1.3-1.9l0,0c-0.5-0.5-1.1-0.9-1.7-1.2C11.4,8.4,12,7.2,12,6 c0-2.2-1.8-4-4-4C5.8,2,4,3.8,4,6c0,1.3,0.6,2.4,1.5,3.1c-0.6,0.3-1.2,0.7-1.7,1.2c-0.5,0.5-1,1.2-1.3,1.9C2.2,12.9,2,13.6,2,14.4 l0,0l0,0.1l0,0l0,0.1l0,0l0.1,0l0,0l0.1,0l0,0h1h0.1l0.2-0.2l0,0l0-0.1c0-1.2,0.5-2.3,1.3-3.1C5.6,10.4,6.8,10,8,10 c1.2,0,2.4,0.5,3.2,1.3c0.8,0.8,1.3,1.9,1.3,3.1l0,0.1l0.2,0.2h1h0l0.1,0l0,0l0.1,0l0,0l0-0.1L14,14.4L14,14.4L14,14.4L14,14.4z M8,3.4c0.7,0,1.3,0.3,1.8,0.8c0.5,0.5,0.8,1.1,0.8,1.8c0,0.7-0.3,1.3-0.8,1.8C9.3,8.3,8.7,8.5,8,8.5c-0.7,0-1.3-0.3-1.8-0.8 C5.7,7.3,5.4,6.7,5.4,6c0-0.7,0.3-1.3,0.8-1.8C6.7,3.7,7.3,3.4,8,3.4z"/></svg>

                          if subItem.icon === 'lock'
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99996 11.3334C8.73663 11.3334 9.33329 10.7367 9.33329 10.0001C9.33329 9.26342 8.73663 8.66675 7.99996 8.66675C7.26329 8.66675 6.66663 9.26342 6.66663 10.0001C6.66663 10.7367 7.26329 11.3334 7.99996 11.3334ZM12 5.33342H11.3333V4.00008C11.3333 2.16008 9.83996 0.666748 7.99996 0.666748C6.15996 0.666748 4.66663 2.16008 4.66663 4.00008H5.93329C5.93329 2.86008 6.85996 1.93341 7.99996 1.93341C9.13996 1.93341 10.0666 2.86008 10.0666 4.00008V5.33342H3.99996C3.26329 5.33342 2.66663 5.93008 2.66663 6.66675V13.3334C2.66663 14.0701 3.26329 14.6667 3.99996 14.6667H12C12.7366 14.6667 13.3333 14.0701 13.3333 13.3334V6.66675C13.3333 5.93008 12.7366 5.33342 12 5.33342ZM12 13.3334H3.99996V6.66675H12V13.3334Z" fill="#828282"/></svg>

                          if subItem.icon === 'history'
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.66329 2C5.34663 2 2.66663 4.68667 2.66663 8H0.666626L3.26329 10.5967L3.30996 10.6933L5.99996 8H3.99996C3.99996 5.42333 6.08996 3.33333 8.66663 3.33333C11.2433 3.33333 13.3333 5.42333 13.3333 8C13.3333 10.5767 11.2433 12.6667 8.66663 12.6667C7.37663 12.6667 6.21329 12.14 5.36996 11.2967L4.42663 12.24C5.50996 13.3267 7.00663 14 8.66329 14C11.98 14 14.6666 11.3133 14.6666 8C14.6666 4.68667 11.98 2 8.66329 2ZM7.99996 5.33333V8.66667L10.8533 10.36L11.3333 9.55L8.99996 8.16667V5.33333H7.99996Z" fill="#828282"/></svg>

                          if subItem.icon === 'money'
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9H2.5C2.224 9 2 8.776 2 8.5V2.5C2 2.224 2.224 2 2.5 2H11.5C11.776 2 12 2.224 12 2.5V5H11V3H3V8H6V9Z" fill="#828282"/><path d="M10.5 10C9.0245 10 7.7985 9.68054 7 9.14404C7 9.51704 7 9.76304 7 10C7 10.8285 8.567 11.5 10.5 11.5C12.433 11.5 14 10.8285 14 10C14 9.76304 14 9.51704 14 9.14404C13.2015 9.68054 11.9755 10 10.5 10Z" fill="#828282"/><path d="M10.5 12.5C9.0245 12.5 7.7985 12.1805 7 11.644C7 12.017 7 12.263 7 12.5C7 13.3285 8.567 14 10.5 14C12.433 14 14 13.3285 14 12.5C14 12.263 14 12.017 14 11.644C13.2015 12.1805 11.9755 12.5 10.5 12.5Z" fill="#828282"/><path d="M6.4545 6.336C6.7975 5.9355 7.3215 5.6085 7.9875 5.378C7.927 4.885 7.51 4.5 7 4.5C6.4485 4.5 6 4.9485 6 5.5C6 5.85 6.1815 6.1575 6.4545 6.336Z" fill="#828282"/><path d="M10.5 9C12.433 9 14 8.32843 14 7.5C14 6.67157 12.433 6 10.5 6C8.567 6 7 6.67157 7 7.5C7 8.32843 8.567 9 10.5 9Z" fill="#828282"/></svg>

                        a(href=`${subItem.link}`)= subItem.title

        +ButtonHeader({
          className: 'search-mobile',
          iconImage: './assets/icons/icon-filter-circle-white.svg',
          styleType: 'outline-white',
          size: 'middle'
        })


.NavigationMobile
  .NavigationMobile-overlay 
  .NavigationMobile-close 
      img(src="./assets/icons/icon-x-white.svg", alt="")

  .NavigationMobile-main 
    .NavigationMobile-title Menu 

    .NavigationMobile-list
      each item in dataMenuMobile
        .NavigationMobile-list-item.flex.items-start.flex-wrap
          .NavigationMobile-list-item-icon 
            if item.icon === 'book'
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.666748 2.00016C0.666748 1.63197 0.965225 1.3335 1.33341 1.3335H5.33341C6.21747 1.3335 7.06532 1.68469 7.69044 2.30981C8.31556 2.93493 8.66675 3.78277 8.66675 4.66683V14.0002C8.66675 14.3684 8.36827 14.6668 8.00008 14.6668C7.63189 14.6668 7.33341 14.3684 7.33341 14.0002C7.33341 13.6465 7.19294 13.3074 6.94289 13.0574C6.69284 12.8073 6.3537 12.6668 6.00008 12.6668H1.33341C0.965225 12.6668 0.666748 12.3684 0.666748 12.0002V2.00016ZM7.33341 11.6908V4.66683C7.33341 4.1364 7.1227 3.62769 6.74763 3.25262C6.37256 2.87754 5.86385 2.66683 5.33341 2.66683H2.00008V11.3335H6.00008C6.47223 11.3335 6.93148 11.4587 7.33341 11.6908Z" fill="#828282"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8.30972 2.30981C8.93485 1.68469 9.78269 1.3335 10.6667 1.3335H14.6667C15.0349 1.3335 15.3334 1.63197 15.3334 2.00016V12.0002C15.3334 12.3684 15.0349 12.6668 14.6667 12.6668H10.0001C9.64646 12.6668 9.30732 12.8073 9.05727 13.0574C8.80722 13.3074 8.66675 13.6465 8.66675 14.0002C8.66675 14.3684 8.36827 14.6668 8.00008 14.6668C7.63189 14.6668 7.33341 14.3684 7.33341 14.0002V4.66683C7.33341 3.78277 7.6846 2.93493 8.30972 2.30981ZM8.66675 11.6908C9.06868 11.4587 9.52793 11.3335 10.0001 11.3335H14.0001V2.66683H10.6667C10.1363 2.66683 9.62761 2.87754 9.25253 3.25262C8.87746 3.62769 8.66675 4.1364 8.66675 4.66683V11.6908Z" fill="#828282"/></svg>

            if item.icon === 'bookmark'
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_445_165801)"><path d="M12.5 -0.333496H3.5C2.65625 -0.333496 2 0.354004 2 1.1665V15.6665L8 12.1665L14 15.6665V1.1665C14 0.354004 13.3125 -0.333496 12.5 -0.333496ZM12.5 13.0728L8 10.4478L3.5 13.0728V1.354C3.5 1.26025 3.5625 1.1665 3.6875 1.1665H12.3125C12.4062 1.1665 12.5 1.26025 12.5 1.354V13.0728Z" fill="#828282"/></g><defs><clipPath id="clip0_445_165801"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>

            if item.icon === 'public'
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.00004 1.3335C4.31671 1.3335 1.33337 4.31683 1.33337 8.00016C1.33337 11.6835 4.31671 14.6668 8.00004 14.6668C11.6834 14.6668 14.6667 11.6835 14.6667 8.00016C14.6667 4.31683 11.6834 1.3335 8.00004 1.3335ZM7.33337 13.2868C4.70337 12.9602 2.66671 10.7202 2.66671 8.00016C2.66671 7.59016 2.71671 7.19016 2.80671 6.80683L6.00004 10.0002V10.6668C6.00004 11.4035 6.59671 12.0002 7.33337 12.0002V13.2868ZM11.93 11.5968C11.76 11.0568 11.26 10.6668 10.6667 10.6668H10V8.66683C10 8.30016 9.70004 8.00016 9.33337 8.00016H5.33337V6.66683H6.66671C7.03337 6.66683 7.33337 6.36683 7.33337 6.00016V4.66683H8.66671C9.40337 4.66683 10 4.07016 10 3.3335V3.05683C11.9534 3.84683 13.3334 5.76016 13.3334 8.00016C13.3334 9.38683 12.8 10.6468 11.93 11.5968Z" fill="#828282"/></svg>

            if item.icon === 'live-support'
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.33329 3.51888C5.49234 3.51888 3.99996 5.01126 3.99996 6.85221V7.51888L3.99996 12.1855H1.99996C1.26358 12.1855 0.666626 11.5886 0.666626 10.8522V8.18555C0.666626 7.44917 1.26358 6.85221 1.99996 6.85221H2.66663C2.66663 4.27488 4.75596 2.18555 7.33329 2.18555H8.66663C11.244 2.18555 13.3333 4.27488 13.3333 6.85221L14 6.85221C14.7363 6.85221 15.3333 7.44917 15.3333 8.18555V10.8522C15.3333 11.5886 14.7363 12.1855 14 12.1855H13.2493C12.9533 13.3357 11.9092 14.1855 10.6666 14.1855H9.82158C9.59104 14.5841 9.16015 14.8522 8.66663 14.8522C7.93025 14.8522 7.33329 14.2553 7.33329 13.5189C7.33329 12.7825 7.93025 12.1855 8.66663 12.1855C9.16015 12.1855 9.59104 12.4537 9.82158 12.8522H10.6666C11.403 12.8522 12 12.2553 12 11.5189V7.51888V6.85221C12 5.01126 10.5076 3.51888 8.66663 3.51888H7.33329ZM2.66663 8.18555H1.99996L1.99996 10.8522H2.66663V8.18555ZM7.33329 8.35221C7.33329 8.81245 6.9602 9.18555 6.49996 9.18555C6.03972 9.18555 5.66663 8.81245 5.66663 8.35221C5.66663 7.89198 6.03972 7.51888 6.49996 7.51888C6.9602 7.51888 7.33329 7.89198 7.33329 8.35221ZM9.49996 9.18555C9.9602 9.18555 10.3333 8.81245 10.3333 8.35221C10.3333 7.89198 9.9602 7.51888 9.49996 7.51888C9.03972 7.51888 8.66663 7.89198 8.66663 8.35221C8.66663 8.81245 9.03972 9.18555 9.49996 9.18555ZM13.3333 8.18555H14V10.8522H13.3333V8.18555Z" fill="#828282"/></svg>

          a(href=`${item.link}`)= item.title

          if item.subItems && item.subItems.length > 0
            .NavigationMobile-list-item-caret 
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 9.3335L8.70711 6.0406C8.31658 5.65008 7.68342 5.65008 7.29289 6.0406L4 9.3335" stroke="#828282" stroke-width="1.5" stroke-linecap="round"/></svg>


            .NavigationMobile-sub-items
              each subItem in item.subItems
                .NavigationMobile-sub-items-item.flex.items-start
                  .NavigationMobile-sub-items-item-icon 
                    if subItem.icon === 'document'
                      <svg class="document" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="stroke" d="M13.3333 5.33333V12.4267C13.3333 12.979 12.8856 13.4267 12.3333 13.4267H3.66663C3.11434 13.4267 2.66663 12.979 2.66663 12.4267V3C2.66663 2.44772 3.11434 2 3.66663 2H9.99996" stroke="#828282" stroke-width="1.3" stroke-linecap="round"/><path class="fill" d="M13.7285 4.50069L10.8326 1.60482L9.91341 2.52406L12.8093 5.41992L13.7285 4.50069ZM9.35 2.21895V5.11482H10.65V2.21895H9.35ZM10.2185 5.98333H13.1144V4.68333H10.2185V5.98333ZM9.35 5.11482C9.35 5.59448 9.73885 5.98333 10.2185 5.98333V4.68333C10.4568 4.68333 10.65 4.87652 10.65 5.11482H9.35ZM10.8326 1.60482C10.2855 1.05768 9.35 1.44519 9.35 2.21895H10.65C10.65 2.60336 10.1852 2.79588 9.91341 2.52406L10.8326 1.60482ZM12.8093 5.41992C12.5375 5.1481 12.73 4.68333 13.1144 4.68333V5.98333C13.8881 5.98333 14.2756 5.04782 13.7285 4.50069L12.8093 5.41992Z" stroke-width="0" fill="#828282"/><line class="stroke" x1="6.65" y1="10.0165" x2="9.35" y2="10.0165" stroke="#828282" stroke-width="1.3" stroke-linecap="round"/><line class="stroke" x1="5.98325" y1="8.0165" x2="10.0166" y2="8.0165" stroke="#828282" stroke-width="1.3" stroke-linecap="round"/></svg>

                  a(href=`${subItem.link}`)= subItem.title