- 
  const dataMenu = [
    { link: '#', title: 'Trang chủ', subItems: [] },
    { 
      link: '#',
      title: 'Giới thiệu',
      subItems: [
        { link: '#', title: 'Về chúng tôi' },
        { link: '#', title: 'Liên hệ' },
      ],
    },
    { 
      link: '#',
      title: 'Tin tức',
      subItems: [
        { link: '#', title: 'Tin tức mới' },
        { link: '#', title: 'Sự kiện' },
      ],
    },
    { link: '#', title: 'Hợp tác xuất bản', subItems: [] },
    { link: '#', title: 'Tải danh mục sách', subItems: [] },
  ];


nav.Navigation 
  .NavigationMobile-overlay 
  .NavigationMobile-close 
      img(src="./assets/icons/close-circle.png", alt="")
  .container 
    .Navigation-wrapper.flex.items-center.justify-between.NavigationMobile-main
      +ListMenuComponent({ isAccordion:true, icon: true, data: accordionData})
      .Navigation-wrapper-item
        .NavigationMobile-title Menu 
        .Navigation-list.NavigationMobile-list.flex.items-center 
          each item in dataMenu
            .Navigation-list-item.NavigationMobile-list-item.flex.items-center
              a(href=`${item.link}`)= item.title

              if item.subItems && item.subItems.length > 0
                .Navigation-list-item-caret.NavigationMobile-list-item-caret 
                  img(src="./assets/icons/arrow-down.svg", alt="")

                  .Navigation-sub-items.NavigationMobile-sub-items
                    each subItem in item.subItems
                      .Navigation-sub-items-item.NavigationMobile-sub-items-item.flex.items-center
                        a(href=`${subItem.link}`)= subItem.title