section.News
  +HeadingCard({title: "Tuyển tập truyện ngắn GIÓ THU HOA CÚC GẦY RỒI (Thâm Tâm)", className: 'New-detail-title', isViewAll: false})
  .News-social
    span.CardNewsComponent-body-label
      img(src="./assets/icons/icon-clock.svg", alt="", srcset="")
      span 01/08/2023
      span |
      span 14:26
    .News-social-wrapper
      a(href='#')
        img(src="./assets/images/facebook-news.png", alt="", srcset="")
      a(href='#')
        img(src="./assets/images/zalo-news.png", alt="", srcset="")
      a(href='#')
        img(src="./assets/images/link.png", alt="", srcset="")
      a(href='#')
        img(src="./assets/images/share.png", alt="", srcset="")
      a(href='#')
        img(src="./assets/images/print.png", alt="", srcset="")
  hr
  .News-detail-content
    .News-ads
      img(src="./assets/images/image-news-detail.jpg", alt="", srcset="")
    h4.News-detail-content-title Gói tài khoản cá nhân
    .News-detail-content-wrapper
      p LỰA CHỌN ĐỌC SÁCH ĐIỆN TỬ KHÔNG GIỚI HẠN VỚI GÓI THÀNH VIÊN DÀNH CHO TÀI KHOẢN CÁ NHÂN
      p Để nâng cấp tài khoản cá nhân, quý khách cần đăng ký 01 tài khoản cá nhân tại website: sachbanquyen.com.vn. Sau đó, quý khách lựa chọn gói tài khoản mình muốn nâng cấp và thanh toán cho tài khoản. Benito xin trân trọng cảm ơn quý khách!
      p Để nâng cấp tài khoản cá nhân, quý khách cần đăng ký 01 tài khoản cá nhân tại website: sachbanquyen.com.vn. Sau đó, quý khách lựa chọn gói tài khoản mình muốn nâng cấp và thanh toán cho tài khoản. Benito xin trân trọng cảm ơn quý khách!
    img(src="./assets/images/image-news-detail-2.jpg", alt="", srcset="")
    .News-detail-content-wrapper
      p LỰA CHỌN ĐỌC SÁCH ĐIỆN TỬ KHÔNG GIỚI HẠN VỚI GÓI THÀNH VIÊN DÀNH CHO TÀI KHOẢN CÁ NHÂN
      p Để nâng cấp tài khoản cá nhân, quý khách cần đăng ký 01 tài khoản cá nhân tại website: sachbanquyen.com.vn. Sau đó, quý khách lựa chọn gói tài khoản mình muốn nâng cấp và thanh toán cho tài khoản. Benito xin trân trọng cảm ơn quý khách!
      p Để nâng cấp tài khoản cá nhân, quý khách cần đăng ký 01 tài khoản cá nhân tại website: sachbanquyen.com.vn. Sau đó, quý khách lựa chọn gói tài khoản mình muốn nâng cấp và thanh toán cho tài khoản. Benito xin trân trọng cảm ơn quý khách!
    .News-note
      p Link tham khảo: https://nxbxaydung.com.vn/bo-sach-dich-thang-2-c30.html
      p • Hơn 3000 đầu sách bản quyền từ các NXB hàng đầu
      p • Hơn 100 000 đầu sách điện tử nguồn dữ liệu đa ngành, đa ngôn ngữ từ các trường cao đẳng, đại học, cộng đồng trên thế giới.
      p • Giao diện thân thiện, thanh toán dễ dàng
      p • Tích hợp nhiều thiết bị; không giới hạn thời gian, địa điểm
    h4.News-detail-content-title Theo baomoi.com
