section.PaymentMethod
  +HeadingCard({title: "Danh sách sản phẩm", className: '.PaymentMethod-title', isViewAll: false})
  .PaymentMethod-wrapper
    form
      +Radio({label: "Thanh toán tiền mặt khi nhận hàng", checked: 'true', name: 'radio', id: 'radio-1', url: './assets/images/cash.png'})
      +Radio({label: "Thanh toán bằng Book coin", checked: 'false', name: 'radio', id: 'radio-2', url: './assets/images/coin.png'})
      +Radio({label: "Thanh toán qua Viettel Money", checked: 'false', name: 'radio', id: 'radio-3', url: './assets/images/viettel.png'})
      +Radio({label: "Thanh toán qua VN pay", checked: 'false', name: 'radio', id: 'radio-4', url: './assets/images/vn-pay.png'})
      +Radio({label: "Thanh toán chuyển khoản", checked: 'false', name: 'radio', id: 'radio-5', url: './assets/images/bank.png'})
