.search-box.d-flex.align-items-center.justify-content-between
  ul.search-box-left.d-flex.align-items-center.mb-0
    li.search-box-left-item Sắp sếp theo
    li.search-box-left-item
      a.search-box-left-item-link(href="") Bán chạy
    li.search-box-left-item
      a.search-box-left-item-link(href="") Phổ biến
    li.search-box-left-item
      a.search-box-left-item-link(href="") Mới nhất
    li.search-box-left-item
      a.search-box-left-item-link(href="") Theo giá
  .search-box-input
    .input-group
      input.form-control.has-bg(type='text' placeholder="Tìm sách trong NXB Kim Đồng" aria-label="Recipient's username" aria-describedby='button-addon2')
      button#button-addon2.btn.btn-outline-gray(type='button')
        img(src="./assets/icons/search-normal.svg" alt="")
