.support
  a.support-item(href='#')
    img(src="./assets/icons/icon-mess.svg" alt="")
  a.support-item(href='#')
    img(src="./assets/icons/icon-zalo.svg" alt="")
  a.support-item.btn-scroll(href='#')
    img(src="./assets/icons/arrow-left-single.svg" alt="")
