.mobile-scroll {
  @media (max-width: 992px) {
    display: flex;
    overflow: scroll;
    flex: 0 0 auto;
    width: 100vw;
    max-width: 100%;
    margin-right: 10px;
    width: auto;
    overflow-x: scroll;
    white-space: nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.banner-single {
  img {
    border-radius: 12px;
  }
  @media (max-width: 992px) {
    padding: 0;
    img {
      width: 100vw;
      display: block;
      margin-left: 50%;
      transform: translateX(-50%);
      border-radius: 0;
    }
  }
}
.mobile-disable-carousel {
  @media (max-width: 992px) {
    .owl-nav {
      display: none;
    }
    .owl-stage {
      transition: none !important;
      width: calc(100% + 15px) !important;
      transform: none !important;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
      .owl-item {
        width: calc(50% - 15px) !important;
        margin-right: 0 !important;
      }
      .cloned {
        display: none !important;
      }
    }
  }
}
.top-sale {
  @media (max-width: 992px) {
    padding-top: 20px;
    padding-bottom: 24px;
    .HeadingCard-title {
      font-size: 16px;
    }
  }
}
.banner-two {
  padding-top: 15px;
  padding-bottom: 15px;
  .row {
    gap: 15px;
  }
}
