.accordion{
  &-button{
    font-size: 15px;
  }
  &.custom-icon{
    --bs-accordion-btn-icon: url("../../assets/icons/add-cirlce.svg");
    --bs-accordion-btn-active-icon:  url("../../assets/icons/minus-cirlce.svg");
  }
  &-item{
    &:first-of-type {
      @include border-top-radius(0);

      .accordion-button {
        @include border-top-radius(0);
      }
    }
    &:last-of-type {
      border-bottom-right-radius: unset;
      border-bottom-left-radius: unset;
    }
  }
  &-body{
    &.no-padding{
      padding: 0;
    }
    &-children{
      margin-bottom: 0;
      &-item{
        &-link{
          display: block;
          width: 100%;
          padding: 12px 15px 12px 30px;
          transition: .3s;
          position: relative;
          border-bottom: 1px dashed var(--line3);
          font-size: 15px;
          //&.active{
          //  background-color: #FCF8F1;
          //  &:after{
          //    position: absolute;
          //    width: 5px;
          //    content: "";
          //    background-color: #FB693C;
          //    height: 100%;
          //    top: 0;
          //    left: 0;
          //  }
          //}
          //&:hover{
          //  background-color: #FCF8F1;
          //  &:after{
          //    position: absolute;
          //    width: 5px;
          //    content: "";
          //    background-color: #FB693C;
          //    height: 100%;
          //    top: 0;
          //    left: 0;
          //  }
          //}
        }
        &:last-child{
          .accordion-body-children-item-link{
            border-bottom: unset;
          }
        }

      }
    }
  }
  &-button{
    &:not(.collapsed){
      color: unset;
      background-color: unset;
      border-color: unset;
    }
    &:focus{
      box-shadow: unset;
    }
  }
}
