$btn-color: $white;
$btn-bg: $orange-brand;
$btn-border-color: $orange-brand;
$btn-hover-color: $btn-color;
$btn-hover-bg: #FF3F02;
$btn-active-bg: #EE3D05;
.btn{
  --#{$prefix}btn-font-size: #{$btn-font-size};
  --#{$prefix}btn-font-weight: #{$btn-font-weight};
  &-primary{
    font-weight: 700;
    line-height: 21px;
  }
  &-success{
    --#{$prefix}btn-color: #{$btn-color};
    --#{$prefix}btn-hover-color: #{$btn-color};
    --#{$prefix}btn-active-color: #{$btn-color};
    font-weight: 700;
    line-height: 21px;
  }
  &-orange-brand{
    --#{$prefix}btn-color: #{$btn-color};
    --#{$prefix}btn-bg: #{$btn-bg};
    --#{$prefix}btn-border-color: #{$btn-border-color};
    --#{$prefix}btn-hover-color: #{$btn-hover-color};
    --#{$prefix}btn-hover-bg: #{$btn-hover-bg};
    --#{$prefix}btn-hover-border-color: #{$btn-hover-bg};
    --#{$prefix}btn-active-color: #{$btn-color};
    --#{$prefix}btn-active-bg: #{$btn-active-bg};
    --#{$prefix}active-border-color: #{$btn-active-bg};
    --#{$prefix}disabled-bg: #{$orange-brand};
    --#{$prefix}disabled-border-color: #{$orange-brand};
    background-color: $orange-brand;
    font-weight: 600;
  }
  &-outline-orange{
    --#{$prefix}btn-color: var(--branding);
    --#{$prefix}btn-hover-bg: var(--branding);
    --#{$prefix}btn-border-color: var(--branding);
    --#{$prefix}btn-hover-color: #{$white};
    --#{$prefix}btn-hover-border-color: var(--branding);
    --#{$prefix}active-border-color: var(--branding);
    --#{$prefix}btn-active-bg:var(--branding);
    background-color: $white;
  }
  &-outline-xs{
    --#{$prefix}btn-hover-color: #{$btn-color};
    --#{$prefix}btn-active-color: #{$btn-color};
    padding: 4px 10px;
    min-width: 66px;
    border-radius: 4px;
    display: block;
  }
}
