$btn-color: $white;
$btn-bg: $orange-brand;
$btn-border-color: $orange-brand;
$btn-hover-color: $btn-color;
$btn-hover-bg: #ff3f02;
$btn-active-bg: #ee3d05;
.btn {
  --#{$prefix}btn-font-size: #{$btn-font-size};
  --#{$prefix}btn-font-weight: #{$btn-font-weight};
  &-primary {
    font-weight: 700;
    line-height: 21px;
  }
  &-success {
    --#{$prefix}btn-color: #{$btn-color};
    --#{$prefix}btn-hover-color: #{$btn-color};
    --#{$prefix}btn-active-color: #{$btn-color};
    font-weight: 400;
    line-height: 21px;
    white-space: nowrap;
  }
  &-orange-brand {
    --#{$prefix}btn-color: #{$btn-color};
    --#{$prefix}btn-bg: #{$btn-bg};
    --#{$prefix}btn-border-color: #{$btn-border-color};
    --#{$prefix}btn-hover-color: #{$btn-hover-color};
    --#{$prefix}btn-hover-bg: #{$btn-hover-bg};
    --#{$prefix}btn-hover-border-color: #{$btn-hover-bg};
    --#{$prefix}btn-active-color: #{$btn-color};
    --#{$prefix}btn-active-bg: #{$btn-active-bg};
    --#{$prefix}active-border-color: #{$btn-active-bg};
    --#{$prefix}disabled-bg: #{$orange-brand};
    --#{$prefix}disabled-border-color: #{$orange-brand};
    background-color: $orange-brand;
    font-weight: 600;
  }
  &-info {
    --#{$prefix}btn-color: #{$btn-color};
    --#{$prefix}btn-border-color: #{#2f69fd};
    --#{$prefix}btn-hover-color: #{$btn-hover-color};
    --#{$prefix}btn-hover-bg: #{#6b95ff};
    --#{$prefix}btn-hover-border-color: #{#6b95ff};
    --#{$prefix}btn-active-color: #{$btn-color};
    --#{$prefix}btn-active-bg: #{#6b95ff};
    --#{$prefix}active-border-color: #{#6b95ff};
    --#{$prefix}disabled-bg: #{#2f69fd};
    --#{$prefix}disabled-border-color: #{#2f69fd};
    background: var(--Link, #2f69fd);
    &-outline {
      --#{$prefix}btn-color: #{$btn-color};
      --#{$prefix}btn-border-color: #{#2f69fd0d};
      --#{$prefix}btn-hover-color: #{$btn-hover-color};
      --#{$prefix}btn-hover-bg: #{#6b95ff};
      --#{$prefix}btn-hover-border-color: #{#6b95ff};
      --#{$prefix}btn-active-color: #{$btn-color};
      --#{$prefix}btn-active-bg: #{#6b95ff};
      --#{$prefix}active-border-color: #{#6b95ff};
      color: #2f69fd;
      background: #2f69fd0d;
    }
  }
  &-outline-orange {
    --#{$prefix}btn-color: var(--branding);
    --#{$prefix}btn-hover-bg: var(--branding);
    --#{$prefix}btn-border-color: var(--branding);
    --#{$prefix}btn-hover-color: #{$white};
    --#{$prefix}btn-hover-border-color: var(--branding);
    --#{$prefix}active-border-color: var(--branding);
    --#{$prefix}btn-active-bg: var(--branding);
    background-color: rgba(255, 76, 19, 0.05);
  }
  &-outline-xs {
    --#{$prefix}btn-hover-color: #{$btn-color};
    --#{$prefix}btn-active-color: #{$btn-color};
    padding: 4px 10px;
    min-width: 66px;
    border-radius: 4px;
    display: block;
    @include media-breakpoint-down(sm){
      padding: 4px;
    }
  }
  &-outline-radius {
    --#{$prefix}btn-border-color: rgba(47, 105, 253, 0.1);
    border-radius: 21px;
    background-color: rgba(47, 105, 253, 0.1);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding: 4px 24px;
  }
  &-default {
    --#{$prefix}btn-hover-bg: rgba(164, 164, 164, 0.5);
    --#{$prefix}btn-active-color: var(--text-hidden);
    background-color: var(--line3);
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: unset;
    padding: 0;
  }
  &-warning {
    --#{$prefix}btn-color: #{$white};
    --#{$prefix}btn-hover-color: #{$white};
    --#{$prefix}btn-active-color: #{$white};
    padding: 4px 12px;
    @include s-btn-15-pt-medium();
  }
  &-outline-gray {
    --#{$prefix}btn-hover-bg: var(--text-hidden);
    --#{$prefix}btn-border-color: var(--text-hidden);
    --#{$prefix}btn-hover-border-color: var(--text-hidden);
    --#{$prefix}active-border-color: var(--text-hidden);
    --#{$prefix}btn-active-bg: var(--text-hidden);
    background: var(--text-hidden);
    &-2 {
      border-radius: 5px;
      @include body-15-pt-r();
      border: 1px solid var(--line-3, #eaeaea);
      background: rgba(164, 164, 164, 0.05);
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &-bill {
    @include l-btn-18-pt-sm();
    width: 100%;
    span {
      &:last-child {
        color: var(--main-white, var(--Trng, #fff));
        font-family: "Roboto";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
      }
    }
  }
}
