.CardNewsComponent {
  display: flex;
  padding: 30px 0px;
  align-items: flex-start;
  gap: 30px;
  flex-direction: row;
  border-bottom: 1px dashed var(--line3);
  @media (max-width: 768px) {
    gap: 8px;
    align-items: center;
    padding: 15px 0px;
  }
  &.card-small {
    gap: 15px;
    padding: 8px 15px;
    .CardNewsComponent-body-title {
      @include ellipsis(2);
      @include bookname-15-pt-m();
    }
    .CardNewsComponent-body-description {
      @include ellipsis(2);
      min-height: unset;
      text-align: left;
    }
    .CardNewsComponent-image {
      flex: 0 0 69px;
      max-width: 69px;
      aspect-ratio: unset;
      @media (max-width: 768px) {
        max-width: 69px;
        border-radius: 0px;
        min-width: unset;
      }
    }
  }
  &-image {
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 1.5;
    max-width: 240px;
    width: 100%;
    img {
      width: 100%;
    }
    @media (max-width: 768px) {
      max-width: unset;
      min-width: 40%;
      border-radius: 0px;
    }
    .percent-sale {
      left: 0;
      background: url("../images/image-badge-flash-sale.png") no-repeat center
        center;
      background-size: cover;
      width: 65px;
      color: $white;
      top: 0;
    }
  }
  &-body {
    position: relative;
    height: 100%;
    &-title {
      color: var(--text-dark);
      @include h-5-16-pt-b();
      margin-bottom: 4px;
      text-align: left;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      line-clamp: 1;
      -webkit-box-orient: vertical;
      @media (max-width: 768px) {
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
      }
    }
    &-description {
      @include body-2();
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      line-clamp: 4;
      -webkit-box-orient: vertical;
      text-align: justify;
      max-height: calc(100% - 40px);
      min-height: 118px;
      @media (max-width: 1200px) {
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        min-height: 40px;
        @include body-15-pt-r();
      }
    }
    &-label {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
      color: var(--Icon, #54555b);
      bottom: 0;
      left: 0;
      &.absolute {
        position: absolute;
      }
      @media (max-width: 1200px) {
        bottom: -32px;
      }
      @media (max-width: 768px) {
        display: none;
      }
      span {
        @include body-15-pt-r();
      }
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
