.CardComponent{
  padding: 24px 16px;
  border-radius: 12px;
  background-color: $white;
  &.bg-card-orange{
    background-color: var(--bgcard);
  }
  &-image{
    text-align: center;
    img{
      max-width: 100%;
    }
  }
  &-body{
    &-title{
      @include title-card-18-pt-sm();
      margin-top: 13px;
      text-align: center;
    }
    &-description{
      @include body-15-pt-r();
    }
  }
}
