.CardComponent {
  --#{$commonTheme}card-padding-default: 24px 16px;
  --#{$commonTheme}card-padding-book: 16px;
  --#{$commonTheme}card-border-radius-default: 12px;
  padding: var(--#{$commonTheme}card-padding-default);
  border-radius: var(--#{$commonTheme}card-border-radius-default);
  background-color: $white;
  box-shadow: 0px 2px 5px 0px rgba(167, 111, 1, 0.25);
  transition: .5s;
  &:hover{
    background: #FFF7E3;
  }
  &.card-category{
    padding: 8px;
    border-radius: 0;
  }
  &.card-service{
    &:hover{
      background: rgba(255, 180, 11, 0.15);
    }
  }
  &.style2 {
    padding: var(--#{$commonTheme}card-padding-book);
    box-shadow: unset;
    background: $white;
    @include media-breakpoint-down(sm){
        padding: 8px 8px 16px 8px;
    }
  }
  &.bg-card-orange {
    background-color: var(--bgcard);
  }
  .CardComponent-image {
    border-radius: 12px;
    overflow: hidden;
    &.resize-card-category{
      max-width: 148px;
      height: 148px;
      overflow: hidden;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        width: unset!important;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center;
        border-radius: 5px;
        transition: .5s;
      }
    }
    &.resize-card-small{
      max-width: 73px;
      height: 73px;
      overflow: hidden;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--bgcard);
      border-radius: 5px;
    }
    &.resize-card{
      border-radius: 12px;
      max-width: 184px;
      height: 184px;
      overflow: hidden;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--bgcard);
      img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        width: unset!important;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center;
        border-radius: 5px;
        transition: .5s;
      }
    }
    img {
      max-width: 100%;
      height: 100%;
      transition: .5s;
      width: unset;
      margin: auto;
      &:hover{
        transform: scale(1.2);
      }
    }
    &.no-effect{
      img{
        &:hover{
          transform: scale(1);
        }
      }
    }
    .percent-sale {
      left: 0;
      background: url("../images/image-badge-flash-sale.png") no-repeat center
        center;
      background-size: cover;
      width: 65px;
      color: $white;
      top: 0;
      padding-left: 8px;
    }
    .is-new{
      background: var(--badge);
      width: 36px;
      height: 36px;
      top: 8px;
      z-index: 9999;
      right: 8px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      @include badge-hot();
    }
  }
  &-body {
    &-title {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      @include title-card-18-pt-sm();
      @media (max-width: 992px) {
        @include bookname-15-pt-m();
      }
      text-align: center;
      color: var(--black);
      @include ellipsis(2);
      &.bookname-15-pt-m{
        @include bookname-15-pt-m();
        a{
          @include bookname-15-pt-m();
        }
      }
      a {
        color: var(--black);
        display: block;
        width: 100%;
        @include ellipsis(2);
        @include title-card-18-pt-sm();
        @media (max-width: 992px) {
          @include bookname-15-pt-m();
        }
      }
      &.style-category-features{
        @include small-14-pt-m();
        a{
          @include small-14-pt-m();
        }
      }
    }
    &-description {
      @include body-15-pt-r();
    }
    &-rate {
      i {
        font-size: 12px;
        color: var(--primary---yellow---2);
      }
    }
    &-sale-price {
      @include h-6-title-15-pt-b();
      color: var(--badge);
    }
    &-retail-price {
      @include tiny-cost-13-r();
      color: var(--text-hidden);
    }
  }
  &-footer {
    &-hot {
      &-img{
        img{
          width: 30px!important;
        }
      }
      &-text {
        @include h-6-title-15-pt-b();
        color: var(--primary-orange);
      }
    }
  }
}
.progress {
  --#{$prefix}progress-height: 10px;
  --#{$prefix}border-radius: 5px;
  --#{$prefix}progress-bg: rgba(255, 180, 11, 0.5);
}
.progress-bar {
  --#{$prefix}progress-bar-bg: linear-gradient(
    94deg,
    #ff370b 3.64%,
    #ff8f0b 90.42%
  );
  background: var(--#{$prefix}progress-bar-bg);
  height: var(--#{$prefix}progress-height);
  border-top-right-radius: var(--#{$prefix}border-radius);
  border-bottom-right-radius: var(--#{$prefix}border-radius);
}
