.owl-carousel button.owl-dot{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  &.active{
    background: rgba(0, 0, 0, 0.20);
  }
}
.owl-dots{
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
}
.owl-carousel .owl-next, .owl-carousel .owl-prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: .3s ease;
}
.owl-carousel .owl-next{
  right: 0;
}
.owl-carousel .owl-prev{
  left: 0;
}
