.input-group {
  &.has-icon{
    .form-control{
      padding-left: 38px;
      border-radius: 5px!important;
    }
    .select2-container .select2-selection--single .select2-selection__rendered{
      padding-left: 38px;
      font-size: 15px;
      font-family: "Roboto";
      font-weight: 400;
    }
  }
  &-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    img{
      width: 16px;
      height: 16px;
    }
  }
  .icon-search {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 88;
  }
  &:not(.has-validation) {
    > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
        .form-floating
      ),
    > .dropdown-toggle:nth-last-child(n + 3),
    > .form-floating:not(:last-child) > .form-control,
    > .form-floating:not(:last-child) > .form-select {
      @include border-end-radius(5px);
    }
  }
}
.form-control {
  @include body-15-pt-r();
  color: var(--black);
  border-radius: 5px;
  padding: 12px 15px;
  border: 1px solid var(--line3);
  &:focus {
    box-shadow: unset;
    border-color: var(--line3);
  }
  &::placeholder {
    color: var(--text-hidden);
    opacity: 1;
  }
  &.has-bg{
    border: unset;
    background: var(--bginput);
    padding: 8px;
  }
}
.select2-container{
  width: 100% !important;
  .select2-selection--single{
    height: 43px;
    .select2-selection__arrow{
      height: 43px;
    }
    .select2-selection__rendered{
      line-height: 40px;
      color: var(--text-hidden);
    }
  }
  &--default{
    .select2-selection--single{
      border: 1px solid var(--line3);
      border-radius: 5px;
    }
  }
}
//.select2-dropdown {
//  border: 1px solid var(--line-3, #eaeaea);
//  input {
//    border: 1px solid var(--line-3, #eaeaea);
//    border-radius: 5px;
//    &:focus {
//      outline: none;
//    }
//  }
//}
