.Select{
  position: relative;
  cursor: pointer;
  &-options{
    position: absolute;
    top: 100%;
    width: 100px;
    max-height: 0;
    overflow: hidden;
    transition: .4s;
    &.active{
      max-height: 100vh;
    }
  }
}
