@each $key, $value in $spacers-theme {
  .m-#{$commonTheme}-#{$key} {
    margin: $value;
  }

  .p-#{$commonTheme}-#{$key} {
    padding: $value;
  }

  .mt-#{$commonTheme}-#{$key} {
    margin-top: $value;
  }

  .ml-#{$commonTheme}-#{$key} {
    margin-left: $value;
  }

  .mr-#{$commonTheme}-#{$key} {
    margin-right: $value;
  }

  .mb-#{$commonTheme}-#{$key} {
    margin-bottom: $value;
  }

  .pt-#{$commonTheme}-#{$key} {
    padding-top: $value;
    @include media-breakpoint-down(md){
      padding-top: $value / 2;
    }
  }

  .pl-#{$commonTheme}-#{$key} {
    padding-left: $value;
  }

  .pr-#{$commonTheme}-#{$key} {
    padding-right: $value;
  }

  .pb-#{$commonTheme}-#{$key} {
    padding-bottom: $value;
    @include media-breakpoint-down(md){
      padding-bottom: calc($value / 2);
    }
  }
}
.bg-card-orange {
  background: var(--bgcard);
}
img {
  width: 100%;
  display: block;
}
.mobile-disable-carousel {
  @include media-breakpoint-down(sm) {
    .owl-nav {
      display: none;
    }
    .owl-stage {
      transition: none !important;
      width: calc(100% + 15px) !important;
      transform: none !important;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
      .owl-item {
        width: calc(50% - 15px) !important;
        margin-right: 0 !important;
      }
      .cloned {
        display: none !important;
      }
    }
  }

}
