@each $key, $value in $spacers-theme {
  .m-#{$commonTheme}-#{$key} {
    margin: $value;
  }

  .p-#{$commonTheme}-#{$key} {
    padding: $value;
  }

  .mt-#{$commonTheme}-#{$key} {
    margin-top: $value;
  }

  .ml-#{$commonTheme}-#{$key} {
    margin-left: $value;
  }

  .mr-#{$commonTheme}-#{$key} {
    margin-right: $value;
  }

  .mb-#{$commonTheme}-#{$key} {
    margin-bottom: $value;
  }

  .pt-#{$commonTheme}-#{$key} {
    padding-top: $value;
  }

  .pl-#{$commonTheme}-#{$key} {
    padding-left: $value;
  }

  .pr-#{$commonTheme}-#{$key} {
    padding-right: $value;
  }

  .pb-#{$commonTheme}-#{$key} {
    padding-bottom: $value;
  }
}
.bg-card-orange{
  background: var(--bgcard);
}
img{
  width: 100%;
  display: block;
}
.pt-theme-60{
  padding-top: 60px;
}
.pb-theme-60{
  padding-bottom: 60px;
}
