$commonTheme: 'nxb_v2';
$list-group-active-bg: #F6F6F6;
$list-group-active-border-color: #EAEAEA;
$list-group-active-color: #262626;
$btn-font-size: 13px;
$btn-padding-x: 12px;
$btn-padding-y: 8px;
$blue:#2F69FD;
