html {
  font-size: 10px;
}

.container {
  max-width: calc(1140px + 15px * 2);
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 991px) {
    padding: 0;
  }
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.flex {
  display: flex;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.tab-wrapper {
  .tab-item {
    cursor: pointer;
  }

  .tab-main {
    display: none;

    &.active {
      display: block;

      &.flex {
        display: flex;
      }
    }
  }
}

.layout {
  background: color(alabaster);
  padding: 15px 0 30px;

  &-wrapper {
    justify-content: space-between;
  }

  @media (max-width: 991px) {
    padding: 0 0 16px;
  }

  .layout-col {
    &.left,
    &.right {
      flex: 0 0 calc(100% / 3 - 15px);
      max-width: calc(100% / 3 - 15px);
    }

    &.main {
      flex: 0 0 calc(100% * 2 / 3 - 15px);
      max-width: calc(100% * 2 / 3 - 15px);

      .CardWithTitle {
        padding: 12px 22px;

        @media (max-width: 991px) {
          padding: 12px 16px;
        }
      }

      &.full {
        flex: 0 0 100%;
        max-width: 100%;
      }

      @media (max-width: 991px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
