@mixin centerImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  width: unset !important;
  object-fit: contain;
  object-position: center;
  border-radius: 5px;
}

@mixin ellipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@function color($color) {
  @return var(--#{$color});
}