-
  const dataAccordion = [
    {
      heading:'flush-headingOne',
      collapse:'flush-collapseOne'
    }
  ]

  const dataSidebarNotLogged = [
    {
      link: '#',
      title: 'Đăng ký',
      icon: 'icon-key.svg',
      children: [],
    },
    {
      link: '#',
      title: 'Đăng nhập',
      icon: 'icon-login.svg',
      children: [],
    },
  ]

  const dataSidebar = [
    {
      link: '#',
      title: 'Tài khoản của bạn',
      icon: 'icon-profile-circle.png',
      children: [],
    },
    {
      link: '#',
      title: 'Sách đã mua (213)',
      icon: 'icon-book-square.png',
      children: [
        {
          link: '#',
          title: 'Ebook (15)',
          icon: 'icon-mobile.png',
        },
        {
          link: '#',
          title: 'Audiobook (5)',
          icon: 'icon-microphone-2.png',
        },
        {
          link: '#',
          title: 'Sách giấy',
          icon: 'icon-book-saved.png',
        },
      ],
    },
    {
      link: '#',
      title: 'Ebook (15)',
      icon: 'icon-mobile.png',
      children: [],
    },
    {
      link: '#',
      title: 'Audiobook (5)',
      icon: 'icon-microphone-2.png',
      children: [],
    },
    {
      link: '#',
      title: 'Các gói đăng ký(5)',
      icon: 'icon-vip.png',
      children: [],
    },
    {
      link: '#',
      title: 'Lịch sử mua hàng',
      icon: 'icon-receipt-item.png',
      children: [],
    },
    {
      link: '#',
      title: 'Lịch sử giao dịch',
      icon: 'icon-convert-card.png',
      children: [],
    },
    {
      link: '#',
      title: 'Đổi mật khẩu',
      icon: 'icon-lock.png',
      children: [],
    },
  ]
