-
  const dataDropdownSearch = [
    {
      value: 1,
      name:'Sách giấy'
    },
    {
      name:'Audio Book',
      value: 2
    }
  ]
-
  const dataBookDetail = [
    {
      value: 1,
      name:'1 tháng'
    },
    {
      name:'Vĩnh viễn',
      value: 2
    }
  ]
