.banner-single{

  @include media-breakpoint-up(md){
    padding-top: 15px;
    padding-bottom: 30px;
  }
  @include media-breakpoint-down(sm){
    padding: 0;
  }
  @include media-breakpoint-up(lg){
    padding-top: 30px;
    padding-bottom: 60px;
  }
  img{
    width: 100%;
    display: block;
  }
}
.top-sale{
  padding: 15px 0;
}
