.banner-single{
  padding-top: 30px;
  padding-bottom: 60px;
  @include media-breakpoint-down(md){
    padding: 0;
  }
  img{
    width: 100%;
    display: block;
  }
}
.top-sale{
  padding-top: 24px;
  padding-bottom: 32px;
}
