.BookDetail-wrapper{
  border-radius: 5px;
  border: 1px solid var(--line3);
  padding: 16px;
  &-item{
    width: 50%;
    &.author{
      padding-right: 24px;
      border-right: 1px solid #E6E6E6;
    }
    &.provider{
      padding-left: 24px;
    }
    &-title{
       @include bookname-15-pt-m();
      color: var(--gray2);
    }
    &-left{
      &-image{

      }
      &-body{
        color: var(--body-text);
        flex: 1;
        &-title{
          @include h-6-title-15-pt-b();
        }
        &-desc{
         @include small-14-pt-r();
        }
      }
    }
  }
  img{
    width: unset;
  }
}
