$black: #2d3137;
$branding: var(--branding);
$white: #ffffff;

$border-radius: 3px;

@mixin checkbox($color) {
  margin-right: 1rem;
  padding-left: 1.75rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  cursor: pointer;
  input[type="checkbox"] {
    opacity: 0;

    &:focus ~ span {
      border: 2px solid lighten($black, 50%);
    }

    &:focus:checked ~ span {
      border: 2px solid $color;
    }

    &:checked ~ span {
      color: $color;
      background: $white
        url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjQ1NDQgMC40NTQ1MDRDMTAuODkzOCAwLjAxNTE2NTIgMTEuNjA2MSAwLjAxNTE2NTIgMTIuMDQ1NCAwLjQ1NDUwNEMxMi40Nzk0IDAuODg4NDU2IDEyLjQ4NDcgMS41ODg3MiAxMi4wNjE0IDIuMDI5MjFMNi4wNzMxIDkuNTE0NTlDNi4wNjQ0NiA5LjUyNTQgNi4wNTUyMiA5LjUzNTcxIDYuMDQ1NDQgOS41NDU0OUM1LjYwNjEgOS45ODQ4NCA0Ljg5Mzc5IDkuOTg0ODQgNC40NTQ0NSA5LjU0NTVMMC40ODQ3NzggNS41NzU4M0MwLjA0NTQzODMgNS4xMzY0OSAwLjA0NTQzODYgNC40MjQxNyAwLjQ4NDc3OCAzLjk4NDgzQzAuOTI0MTE4IDMuNTQ1NDkgMS42MzY0MyAzLjU0NTQ5IDIuMDc1NzcgMy45ODQ4M0w1LjIxNjA1IDcuMTI1MTFMMTAuNDI0NiAwLjQ4ODE1N0MxMC40MzM5IDAuNDc2MzUzIDEwLjQ0MzggMC40NjUxMTUgMTAuNDU0NCAwLjQ1NDUwNFoiIGZpbGw9IiNGRjRDMTMiLz4KPC9zdmc+Cg==)
        50% 40% no-repeat;
      border: 2px solid $color;
    }
  }

  span {
    border-radius: $border-radius;
    position: absolute;
    left: 50%;
    top: 0;
    border: 2px solid lighten($black, 50%);

    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 24px;
    height: 24px;
    transform: translate(-50%);
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
  }
}
.Cart {
  padding: 15px 30px;
  border-radius: 12px;
  border: 1px solid var(--line-3, #eaeaea);
  &-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &-heading {
    display: flex;
    align-items: center;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    h4,
    h6,
    a {
      @include h-6-title-15-pt-b();
      text-transform: uppercase;
      white-space: nowrap;
      text-align: center;
    }
    h4 {
      text-align: left;
    }
  }
  a img {
    width: 32px;
    height: 32px;
  }
  &-row {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &-price {
    @include h-6-title-15-pt-b();
    color: var(--Brand, var(--Branding, #ff4c13));
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    &-unit {
      font-family: Roboto;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      text-decoration-line: underline;
    }
    &-old {
      color: var(--Text-hidden, #a4a4a4);
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 19.5px */
      text-decoration-line: strikethrough;
      &-unit {
        color: var(--Text-hidden, #a4a4a4);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-decoration-line: strikethrough;
      }
    }
  }
  &-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    &-book {
      position: relative;
      width: 100px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      &-cover {
        width: 100%;
        aspect-ratio: 1;
        overflow: hidden;
        position: relative;
        img.book-img {
          width: 100%;
          max-height: 100%;
          min-height: 100%;
          min-width: 100%;
          object-fit: contain;
          object-position: center;
          margin: auto;
          position: absolute;
        }
      }
    }
    &-tag {
      position: absolute;
      display: flex;
      flex-direction: row;
      height: 19.42px;
      right: -5%;
      top: 0;
      img {
        height: 100%;
        width: 10.85px;
      }
      span {
        border-radius: 0px 2px 2px 0px;
        background: var(--Link, #2f69fd);
        @include label-bold-3();
        display: flex;
        align-items: center;
        height: 100%;
        padding: 4px 1.5px;
        color: var(--white);
        display: block;
        margin-left: -1px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
      }
    }
    &-info {
      width: calc(100% - 123px);
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    &-heading {
      @include h-6-title-15-pt-b();
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
    }
    &-description {
      @include body-15-pt-r();
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
    }
    &-label {
      @include body-15-pt-r();
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      .Cart-price {
        @include h-6-title-15-pt-b();
        color: var(--Brand, var(--Branding, #ff4c13));
      }
      span:nth-child(3) {
        color: var(--Text-hidden, #a4a4a4);
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 19.5px */
        text-decoration-line: strikethrough;
      }
    }
  }
}
.checkbox {
  @include checkbox($branding);
}
