.Cart {
  padding: 15px 30px;
  border-radius: 12px;
  border: 1px solid var(--line-3, #eaeaea);
  @media (max-width: 991px) {
    padding: 15px 8px;
    margin-bottom: 15px;
  }
  &-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &-heading {
    display: flex;
    align-items: center;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    h4,
    h6,
    a {
      @include h-6-title-15-pt-b();
      white-space: nowrap;
      text-align: center;
    }
    h4 {
      text-align: left;
    }
    @media (max-width: 991px) {
      justify-content: flex-start;
      .Cart-heading-title {
        display: none;
      }
    }
  }
  a img {
    width: 32px;
    height: 32px;
  }
  &-row {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    @media (max-width: 991px) {
      height: 170px;
      justify-content: space-between;
      position: relative;
      align-items: center;
      margin: 0;
      .col-6 {
        width: 90%;
      }
      .Cart-info-mobile {
        position: absolute;
        bottom: 16px;
        right: 16px;
        width: auto;
        &-wrapper {
          display: flex;
          flex-direction: row;
          gap: 17px;
        }
        &-btn {
          width: auto;
        }
        .Cart-price {
          display: none;
        }
      }
    }
  }
  &-price {
    @include h-6-title-15-pt-b();
    color: var(--Brand, var(--Branding, #ff4c13));
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    &-unit {
      font-family: Roboto;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      text-decoration-line: underline;
    }
    &-old {
      color: var(--Text-hidden, #a4a4a4);
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 19.5px */
      text-decoration-line: strikethrough;
      &-unit {
        color: var(--Text-hidden, #a4a4a4);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-decoration-line: strikethrough;
      }
    }
  }
  &-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    &-book {
      position: relative;
      width: 100px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      margin-right: 23px;
      &-cover {
        width: 100%;
        overflow: hidden;
        position: relative;
        max-width: 100px;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--bgcard);
        border-radius: 8px;
        img.book-img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          max-width: 100%;
          max-height: 100%;
          margin: auto;
          width: unset!important;
          -o-object-fit: contain;
          object-fit: contain;
          -o-object-position: center;
          object-position: center;
          border-radius: 8px;
          transition: .5s;
        }
      }
    }
    &-tag {
      position: absolute;
      display: flex;
      flex-direction: row;
      height: 19.42px;
      right: -5%;
      top: 0;
      img {
        height: 100%;
        width: 10.85px;
      }
      span {
        border-radius: 0px 2px 2px 0px;
        background: var(--Link, #2f69fd);
        @include label-bold-3();
        display: flex;
        align-items: center;
        height: 100%;
        padding: 4px 1.5px;
        color: var(--white);
        display: block;
        margin-left: -1px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
      }
    }
    &-info {
      width: calc(100% - 123px);
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    &-heading {
      @include h-6-title-15-pt-b();
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      @media (max-width: 991px) {
        @include body-15-pt-r();
      }
    }
    &-description {
      @include body-15-pt-r();
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      @media (max-width: 991px) {
        display: none;
      }
    }
    &-label {
      @include body-15-pt-r();
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      .Cart-price {
        @include h-6-title-15-pt-b();
        color: var(--Brand, var(--Branding, #ff4c13));
      }
      span:nth-child(3) {
        color: var(--Text-hidden, #a4a4a4);
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 19.5px */
        text-decoration-line: strikethrough;
      }
      @media (max-width: 991px) {
        .Cart-price-label {
          display: none;
        }
      }
    }
  }
  &.Medthod {
    .Cart-wrapper {
      .col-1,
      .col-2 .mt-2 {
        display: none;
      }
      .quantity-control {
        .btn {
          display: none;
        }
      }
    }
  }
}
