.Category {
  padding-top: 56px;
  padding-bottom: 30px;
  @include media-breakpoint-down(md) {
    padding: 30px 0;
  }
  &.has-bg {
    background: #fee8bd;
  }
  &-wrapper {
    &-item {
      width: calc(100% / 5);
      padding: 0 15px;
      @include media-breakpoint-down(md) {
        width: 47%;
      }
      @include media-breakpoint-between(md, lg) {
        width: calc(100% / 3 - 30px);
      }
    }
    &-category-item {
      width: calc(100% / 9);
      padding: 0 15px;
      @include media-breakpoint-down(lg) {
        width: calc(100% / 3);
      }
    }
  }
  .HeadingCard {
    margin-bottom: 42px;
  }
}
