.Category {
  padding-top: 56px;
  padding-bottom: 62px;
  &.has-bg{
    background: #FEE8BD;
  }
  &-wrapper{
     &-item{
       width: calc(100% / 5);
       padding: 0 15px;
       @include media-breakpoint-down(md){
         width: 50%;
       }
       @include media-breakpoint-between(md, lg){
         width: calc(100% / 3);
       }
     }
    &.scroll-mobile{
      @include media-breakpoint-down(md){
        flex-wrap: nowrap;
        overflow-x: scroll;
      }
    }
  }
  .HeadingCard{
    margin-bottom: 42px;
  }
}
