.Category {
  padding-top: 56px;
  padding-bottom: 62px;
  @include media-breakpoint-down(md){
    padding: 30px 0;
  }
  &.has-bg{
    background: #FEE8BD;
  }
  &-wrapper{
     &-item{
       width: calc(100% / 5);
       padding: 0 15px;
       @include media-breakpoint-down(md){
         width: 50%;
       }
       @include media-breakpoint-between(md, lg){
         width: calc(100% / 3);
       }
     }
     &-category-item{
       width: calc(100% / 9);
       padding: 0 15px;
       @include media-breakpoint-down(lg){
         width: calc(100% / 3);
       }
     }
  }
  .HeadingCard{
    margin-bottom: 42px;
  }
}
