.Header {
  padding: 16px 0;
  img {
    width: 100%;
  }
  .container {
    padding: 0 15px !important;
  }

  &-logo {
    display: flex;

    &:not(:last-child) {
      position: relative;
      padding-right: 12px;
      margin-right: 12px;

      &::before {
        position: absolute;
        top: 50%;
        right: 0;
        height: 48px;
        transform: translateY(-50%);
        width: 1px;
        content: "";
        background: color(mid-gray-alpha-05);

        @media (max-width: 991px) {
          display: none;
        }
      }
    }

    &.neu {
      max-width: 234px;

      img {
        width: 100%;
        margin: auto;
      }
    }

    &.nxb {
      max-width: 155px;

      @media (max-width: 991px) {
        display: none;
      }

      img {
        width: 100%;
      }
    }
  }

  &-hotline {
    &-item {
      position: relative;
      padding-right: 15px;
      margin-right: 15px;

      &::before {
        position: absolute;
        top: 50%;
        right: 0;
        height: 26px;
        transform: translateY(-50%);
        width: 1px;
        content: "";
        background: color(alto);
      }

      &-icon {
        flex: 0 0 24px;
        max-width: 24px;
        margin-right: 8px;
      }

      &-info {
        &-label,
        &-value {
          font-size: 13px;
        }

        &-value {
          line-height: 1.3;
          font-weight: 900;
          color: color(vermilion);
        }
      }
    }
  }

  &-btns {
    .Avatar,
    .Button {
      margin-left: 15px;
    }
  }

  &-wrapper {
    &-item {
      &:nth-child(2) {
        @media (max-width: 991px) {
          display: none;
        }
      }

      &.mobile {
        display: none;

        @media (max-width: 991px) {
          display: flex;

          .Button {
            margin-left: 15px;
          }
        }
      }
    }
  }

  &-account {
    position: relative;
    cursor: pointer;
  }

  &-sub-items {
    position: absolute;
    top: calc(100% + 12px);
    z-index: 2;
    right: -37px;
    width: 245px;
    padding: 0 15px;
    background: color(white);
    border-radius: 5px;
    box-shadow: $common-shadow;
    transition: $common-transition;
    opacity: 0;
    pointer-events: none;

    &.active {
      pointer-events: unset;
      opacity: 1;
    }

    &::before {
      position: absolute;
      width: 24px;
      height: 24px;
      content: "";
      background: color(white);
      right: 34px;
      top: 8px;
      transform: translateY(-50%) rotate(45deg);
      pointer-events: none;
      z-index: 1;
    }

    &-item {
      position: relative;
      z-index: 2;
      padding: 12px 0;
      transition: $common-transition;
      background: color(white);

      span {
        font-size: 14px;
        font-weight: 400;
        color: color(emperor);
        transition: $common-transition;
        @include ellipsis(1);
      }

      &:hover {
        border-color: color(azure-radiance) !important;

        span {
          color: color(azure-radiance);
        }

        .document {
          .stroke {
            stroke: color(azure-radiance);
          }
          .fill {
            fill: color(azure-radiance);
          }
        }

        svg {
          &.fill path {
            fill: color(azure-radiance);
          }

          &.stroke path {
            stroke: color(azure-radiance);
          }
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid color(alto);
      }

      &-icon {
        flex: 0 0 16px;
        max-width: 16px;
        height: 16px;
        margin-right: 8px;

        svg path {
          transition: $common-transition;
        }
      }
    }
  }
}
