.Payment {
  padding: 15px 30px;
  border-radius: 12px;
  border: 1px solid var(--line-3, #eaeaea);
  background: var(--bg-input, #f6f6f6);
  &-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
