.search-box{
  &-left{
    width: calc(100%/2);
    &-item{
      @include h-6-title-15-pt-b();
      color: #737373;
      &-link{
        padding: 8px;
        @include bookname-15-pt-m();
        color: var(--icon);
        position: relative;
        &:after{
          position: absolute;
          content: "";
          width: 1px;
          height: 15px;
          right: 0;
          background: var(--text-hidden);
          opacity: 0.3;
        }
      }
    }
  }
  &-input{
    width: calc(100%/3);
  }
}
