extends includes/layouts/Guest.pug

block pages
  .container
     include ./includes/components/Breadcrumb.pug
     .row
       .col-lg-9
         section
           .row
             .col-12
                .banner-single.news-banner
                    img(src="./assets/images/image-banner-single.png" alt="")
                include ./includes/containers/News.pug
       .col-lg-3
            aside
                +ListGroupComponent({ isAccordion:true, name:"CHỦ ĐỀ" })
                .list-news
                    h3.list-news-title Tin nổi bật
                    a(href="#").CardNewsComponent
                        .CardNewsComponent-image
                            img(src="./assets/images/image-news.jpg", alt="", srcset="")
                        .CardNewsComponent-body.text-center
                            h3.CardNewsComponent-body-title Thông báo tạm ngưng xử lý đơn hàng để kiểm kê kho
                            p.CardNewsComponent-body-description.text-center.mb-0 Nói về sự phát triển của văn hóa đọc trong những năm gần đây, ông Nguyễn Nguyên, Cục trưởng Cục Xuất bản, In và Phát hành, Phó Chủ tịch Hội Xuất bản Việt Nam cho biết, mặc dù còn gặp rất nhiều khó khăn, nhưng trong năm qua ngành xuất bản đã đạt được những thắng lợi có tính vượt bậc.
                    a(href="#").CardNewsComponent
                        .CardNewsComponent-image
                            img(src="./assets/images/image-news.jpg", alt="", srcset="")
                        .CardNewsComponent-body.text-center
                            h3.CardNewsComponent-body-title Thông báo tạm ngưng xử lý đơn hàng để kiểm kê kho
                            p.CardNewsComponent-body-description.text-center.mb-0 Nói về sự phát triển của văn hóa đọc trong những năm gần đây, ông Nguyễn Nguyên, Cục trưởng Cục Xuất bản, In và Phát hành, Phó Chủ tịch Hội Xuất bản Việt Nam cho biết, mặc dù còn gặp rất nhiều khó khăn, nhưng trong năm qua ngành xuất bản đã đạt được những thắng lợi có tính vượt bậc.
                    a(href="#").list-news-item.text-center
                        | Xem thêm