extends includes/layouts/Guest.pug

block pages
  include ./includes/containers/Banner
  section.Category.has-bg.pt-theme-30.pb-theme-30
    .container
      .row
        .col-12
            +HeadingCard({title: "Quầy sách benitor", className: 'center H0-24-B-heading-card isViewLink', isViewAll: false, isViewLink:true})
        .col-12
          #carouselBookBenitor.owl-carousel.owl-theme
            .item
              +CardComponent({
                url: './assets/images/image-book-benitor.png',
                imageType: 'rounded-circle',
                title: 'NXB Hà Nội',
                classTitle: 'mt-theme-4 mb-theme-4',
                classModifyImage: 'unset-width no-effect'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-category-01.png',
                imageType: 'rounded-circle',
                title: 'NXB Hà Nội',
                classTitle: 'mt-theme-4 mb-theme-4',
                classModifyImage: 'unset-width no-effect'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-category-02.png',
                imageType: 'rounded-circle',
                title: 'NXB Hà Nội',
                classTitle: 'mt-theme-4 mb-theme-4',
                classModifyImage: 'unset-width no-effect'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-category-03.png',
                imageType: 'rounded-circle',
                title: 'NXB Hà Nội',
                classTitle: 'mt-theme-4 mb-theme-4',
                classModifyImage: 'unset-width no-effect'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-category-04.png',
                imageType: 'rounded-circle',
                title: 'NXB Hà Nội',
                classTitle: 'mt-theme-4 mb-theme-4',
                classModifyImage: 'unset-width no-effect'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-category-06.png',
                imageType: 'rounded-circle',
                title: 'NXB Hà Nội',
                classTitle: 'mt-theme-4 mb-theme-4',
                classModifyImage: 'unset-width no-effect'
              })
  section.banner-single.pb-theme-15.pt-theme-30
    .container
      .row
        .col-12
          img(src="./assets/images/image-banner-single.png" alt="")
  section.top-sale.pt-theme-15.pb-theme-15
    .container
      .row
        .col-12
          +HeadingCard({title: "Flash Sale", className: 'justify-content-between mt-theme-6 mb-theme-6',isViewAll:true, hasCountDown: true, classNameModify:'style2'})
        .col-12
          #carouselFlashSale.owl-carousel
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                isSale: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail-1.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail-2.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail-3.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail-3.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                isSale: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                isSale: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
  section.top-sale.bg-card-orange.pt-theme-15.pb-theme-15
    .container
      .col-12
        +HeadingCard({
          title: "Danh mục nổi bật",
          className: 'justify-content-between mt-theme-6 mb-theme-6',
          isViewAll: true
        })
      .Category-wrapper.row.scroll-mobile
        each item in [1,2,3,4,5,6,7,8,9]
          .Category-wrapper-category-item.mb-3.mb-xl-0
            +CardComponent({
              url: './assets/images/image-card-features-small.png',
              title: 'Truyện cổ tích',
              classTitle: 'mt-theme-4 mb-theme-4 style-category-features',
              classModify: 'card-category no-shadow',
              classModifyImage:'resize-card-small'
            })
  section.banner-single.pb-theme-30.pt-theme-30
    .container
      .row
        .col-12
          img(src="./assets/images/image-banner-single.png" alt="")
  section.top-sale.pt-theme-15.pb-theme-15
    .container
      .row
        .col-12
          +HeadingCard({
            title: "Gợi ý cho bạn",
            className: 'justify-content-between mt-theme-6 mb-theme-6',
            isViewAll: true
          })
        .col-12
          #carouselFlashSale01.owl-carousel
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                isSale: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail-1.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail-2.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail-3.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail-3.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                isSale: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                isSale: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
  section.top-sale.bg-card-orange.pt-theme-15.pb-theme-15
    .container
      .row
        .col-12
          +HeadingCard({
            title: "Tuyển tập sách hay",
            className: 'justify-content-between mt-theme-6 mb-theme-6',
            isViewAll: true
          })
        .col-12
          #carouselFlashSale02.owl-carousel
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                isSale: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail-1.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail-2.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail-3.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail-3.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                isSale: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
            .item
              +CardComponent({
                url: './assets/images/image-book-thumbnail.png',
                title: 'Làm Chủ Cơn Giận',
                description: 'Tác giả',
                classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                isRate: true,
                price: true,
                footer: true,
                isSale: true,
                classModify: "style2",
                classModifyImage: 'resize-card'
              })
  section.banner-single.pb-theme-30.pt-theme-30
    .container
      .row
        .col-12
          img(src="./assets/images/image-banner-single.png" alt="")
  section.top-sale.pt-theme-15.pb-theme-15
    .container
      .row
        .col-12
          +HeadingCard({
            title: "Tủ sách thiếu nhi",
            className: 'justify-content-between mt-theme-6 mb-theme-6',
            isViewAll: true
          })
      .row.row-cols-lg-5.g-3
        each item in [1,2,3,4,5,6,7,8]
          .col.col-lg-3.col-6
            +CardComponent({
              url: './assets/images/image-book-thumbnail.png',
              title: 'Làm Chủ Cơn Giận',
              description: 'Tác giả',
              classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
              isRate: true,
              price: true,
              footer: true,
              isSale: true,
              classModify: "style2",
                classModifyImage: 'resize-card'
            })
  section.banner-single.bg-card-orange.pt-theme-30.pb-theme-15
    .container
      .row
        .col-12
          img(src="./assets/images/image-banner-single.png" alt="")
  section.top-sale.bg-card-orange.pt-theme-15.pb-theme-15
    .container
      .row
        .col-12
          +HeadingCard({
            title: "Tủ sách xây dựng",
            className: 'justify-content-between mt-theme-6 mb-theme-6',
            isViewAll: true
          })
      .row.row-cols-lg-5.mt-theme-16.g-3
        each item in [1,2,3,4,5,6,7,8]
          .col.col-lg-3.col-6
            +CardComponent({
              url: './assets/images/image-book-thumbnail.png',
              title: 'Làm Chủ Cơn Giận',
              description: 'Tác giả',
              classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
              isRate: true,
              price: true,
              footer: true,
              isSale: true,
              classModify: "style2",
              classModifyImage: 'resize-card'
            })
  section.banner-single.pt-theme-15.pb-theme-15
    .container
      .row
        .col-12
          img(src="./assets/images/image-banner-single.png" alt="")
  section.top-sale.pt-theme-15.pb-theme-15
    .container
      .row
        .col-12
          +HeadingCard({
            title: "Tủ sách y học",
            className: 'justify-content-between mt-theme-6 mb-theme-6',
            isViewAll: true
          })
      .row.row-cols-lg-5.g-3
        each item in [1,2,3,4,5,6,7,8]
          .col.col-lg-3.col-6
            +CardComponent({
              url: './assets/images/image-book-thumbnail.png',
              title: 'Làm Chủ Cơn Giận',
              description: 'Tác giả',
              classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
              isRate: true,
              price: true,
              footer: true,
              isSale: true,
              classModify: "style2",
              classModifyImage: 'resize-card'
            })
