extends includes/layouts/Guest.pug

block head 
  - const isHideHeaderMobileSearch = true;

block pages
    .container
      include ./includes/components/Breadcrumb.pug
      .row
        .col-lg-3
          include ./includes/containers/SideBar.pug
        .col-lg-9
          .row.mb-theme-30(style="row-gap: 15px;")
            .col-lg-4
              +CoinCard({ title: 'Số dư Book coin', value: '1.580.000 coin', icon: 'icon-wallet-blue.png', btnTitle: 'Nạp coin' })
            .col-lg-4
              +CoinCard({ title: 'Số dư Book xu khuyến mãi', value: '0.000 coin', icon: 'icon-wallet-blue.png' })
            .col-lg-4
              +CoinCard({ title: 'Các gói đăng ký của bạn', value: '5 gói đọc', icon: 'icon-vip.png', btnTitle: 'Thông tin' })

          .ProfileTable
            .ProfileTable-header Các gói đăng ký của bạn (5)
            .ProfileTable-body
              table.table-striped
                thead 
                  tr 
                    th.fit #
                    th.w-25 Gói đọc
                    th Thời hạn
                    th Bắt đầu
                    th Hết hạn
                    th Trạng thái
                    th Xử lý

                tbody 
                  each item in [1,2,3,4,5]
                    tr 
                      td.fit= item
                      td.w-25
                        .ProfileTable-info
                          .ProfileTable-info-title.mb-theme-4 VIP cá nhân - Y học 
                          .ProfileTable-info-description.d-flex.align-items-center(style="column-gap: 4px;")
                            .ProfileTable-info-icon 
                              img(src="./assets/icons/icon-clock-history-orange.svg", alt="")
                            |Còn 3 ngày
                      td 10 ngày
                      td 08/09/2023 16:04
                      td 08/09/2023 16:04
                      td
                        .d-flex.flex-wrap(style="row-gap: 8px; column-gap: 8px;")
                          +TableTag({ title: 'Còn hạn', styleType: 'success', icon: './assets/icons/icon-clock-green.svg' })
                          +TableTag({ title: 'Hết hạn', styleType: 'danger', icon: './assets/icons/icon-lock-red.svg' })
                      td 
                        if ([1,2].includes(item))
                          button.btn.btn-secondary.btn-sm.w-100.mb-theme-4 Gia hạn
                          br
                        |Liên hệ người cấp tài khoản để gia hạn

            .ProfileTable-footer
              +Pagination()

              