extends includes/layouts/Guest.pug

block head
  - const isHideHeaderMobileSearch = true;

block pages
    .container
      include ./includes/components/Breadcrumb.pug

      .ProfileTable-status-actions.d-flex.align-items-center.justify-content-between
        .ProfileTable-status-actions-item.d-flex.align-items-center
          .ProfileTable-status-actions-title Trạng thái:
          .ProfileTable-status-actions-status.d-flex.flex-wrap(style="row-gap: 8px; column-gap: 8px;")
            +TableTag({ title: 'Đã duyệt', styleType: 'primary' })
            +TableTag({ title: 'Thành công', styleType: 'success' })
            +TableTag({ title: 'Chờ duyệt', styleType: 'warning' })
            +TableTag({ title: 'Đã hủy', styleType: 'danger' })

        .ProfileTable-status-actions-item.d-flex.align-items-center
          button.btn.btn-danger.btn-sm Huỷ đơn hàng

          .ProfileTable-status-actions-calling.d-flex.align-items-center
            .ProfileTable-status-actions-calling-icon
              img(src="./assets/icons/call-calling.svg" alt="#")
            .ProfileTable-status-actions-calling-text
              span Hotline hỗ trợ:
              a(href="#").d-block 0904506621

      .row(style="row-gap: 15px;")
        .col-lg-8
          .ProfileTable.vertical-middle
            .ProfileTable-header Chi tiết đơn hàng
            .ProfileTable-body
              table.table-striped
                thead
                  tr
                    th.fit #
                    th.w-25 Sản phẩm
                    th Loại
                    th Đơn giá
                    th Số lượng
                    th Thành tiền

                tbody
                  each item in [1,2,3,4,5]
                    tr
                      td.fit= item
                      td.w-25
                        a(href="#").ProfileTable-info-link.ellipsis-2 Gió và tác động của gió lên công trình - Nhà xuất bản Xây Dựng

                      td Sách giấy
                      td.text-right 153.000đ
                      td.text-right 1
                      td.text-right 153.000đ

            .ProfileTable-footer.d-flex.justify-content-end(style="padding-left: 15px; padding-right: 15px; margin: -15px 0;")
              .ProfileTable.ProfileTable-subtable.vertical-middle.w-100(style="max-width: 256px")
                .ProfileTable-body
                  table.table-striped
                    tbody
                      tr
                        td Tạm tính:
                        td.text-right 311.500đ
                      tr
                        td Giảm giá:
                        td.text-right 4.000đ
                      tr
                        td Phí ship:
                        td.text-right 23.000đ
                      tr
                        td Tổng tiền:
                        td.text-right
                          .Table-info-title(style="color: #FF4C13; font-size: 18px; font-weight: 600;") 330.500đ

        .col-lg-4
          .ProfileTable.ProfileTable-list.vertical-middle
            .ProfileTable-header Thông tin đơn hàng

            div(style="padding: 8px 0;")
              .ProfileTable-body
                table.table-striped
                  tbody
                    tr
                      td(style="width: 80px;") #[strong Mã đơn:]
                      td #029374028
                    tr
                      td(style="width: 80px;") #[strong Ngày:]
                      td 08/09/2023 16:04
                    tr
                      td(style="width: 80px;") #[strong Hình thức:]
                      td Chuyển khoản
                    tr
                      td(style="width: 80px;") #[strong Trạng thái:]
                      td Đã thanh toán

              .ProfileTable-subheader.d-flex.align-items-center.justify-content-between
                strong Thông tin giao hàng
                button.btn.btn-outline-primary.has-icon.border-0
                  .btn-icon.mr-theme-4
                    img(src="./assets/icons/icon-pencil-square-blue.svg" alt="" width="16" height="16")
                  span.btn-text Sửa địa chỉ

              .ProfileTable-body
                table.table-striped
                  tbody
                    tr
                      td(style="width: 80px;") #[strong Họ tên:]
                      td Phùng Thị Hồng Thắm
                    tr
                      td(style="width: 80px;") #[strong SĐT:]
                      td 0987654321
                    tr
                      td(style="width: 80px;") #[strong Địa chỉ:]
                      td P A2808, Hồ Gươm Plaza, 110 Trần Phú, Mỗ Lao, Hà Đông

              .ProfileTable-subheader.d-flex.align-items-center.justify-content-between
                strong(style="width: 80px;") Giao qua:
                |Viettel Post
                button.btn.btn-primary.has-icon.border-0
                  .btn-icon.mr-theme-4
                    img(src="./assets/icons/icon-link-white.svg" alt="" width="16" height="16")
                  span.btn-text Tra cứu

              .ProfileTable-body
                table.table-striped
                  tbody
                    tr
                      td(style="width: 80px;") #[strong Mã vận đơn:]
                      td #9290308
                    tr
                      td(style="width: 80px;") #[strong Trạng thái:]
                      td Đã giao hàng
