extends includes/layouts/Guest.pug

block pages
  .container
     include ./includes/components/Breadcrumb.pug
     .row
       .col-lg-3.d-lg-block.d-none
         aside
           +ListGroupComponent({ isAccordion:true, name:"CHỦ ĐỀ",isSeeMore:true,className:'has-see-more' })
           +ListGroupComponent({ isAccordion:false, name:"TÁC GIẢ", className:'mt-theme-30',isSeeMore:true })
       .col-lg-9.col-12
         section.d-lg-block.d-none
           .row
             .col-12
               img(src="./assets/images/image-banner-single.png" alt="")
         section.d-lg-none.d-block
           .row
             .col-12
               img(src="./assets/images/image-banner-flash-sale-mb.png" alt="")
         section.top-sale.bg-card-orange.mt-theme-30.d-lg-block.d-none
           .container
             .row
               .col-12
                 +HeadingCard({
                   title: "Danh mục nổi bật",
                   className: 'justify-content-between mt-theme-6 mb-theme-6',
                   isViewAll: true
                 })
               .col-12
                 #carouselBookCategoryQuaysach.owl-carousel
                   .item
                     +CardComponent({
                       url: './assets/images/image-card-features-small.png',
                       title: 'Truyện cổ tích',
                       classTitle: 'mt-theme-4 mb-theme-4 style-category-features',
                       classModify:'card-category',
                       classModifyImage:'resize-card-small'
                     })
                   .item
                     +CardComponent({
                       url: './assets/images/image-card-features-small.png',
                       title: 'Truyện cổ tích',
                       classTitle: 'mt-theme-4 mb-theme-4 style-category-features',
                       classModify:'card-category',
                       classModifyImage:'resize-card-small'
                     })
         section.top-sale.bg-card-orange.mt-theme-30.mt-theme-30.d-lg-block.d-none
           .container
             .row
               .col-12
                 +HeadingCard({
                   title: "Gợi ý cho bạn",
                   className: 'justify-content-between mt-theme-6 mb-theme-6',
                   isViewAll: false
                 })
               .col-12
                 #carouselBookSuggestQuaySach.owl-carousel
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-thumbnail.png',
                       title: 'Làm Chủ Cơn Giận',
                       description: 'Tác giả',
                       classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                       price: true,
                       classModify: "style2",
                       classModifyImage: 'resize-card'
                     })
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-thumbnail-1.png',
                       title: 'Làm Chủ Cơn Giận',
                       description: 'Tác giả',
                       classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                       price: true,
                       classModify: "style2",
                       classModifyImage: 'resize-card'
                     })
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-thumbnail-2.png',
                       title: 'Làm Chủ Cơn Giận',
                       description: 'Tác giả',
                       classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                       price: true,
                       classModify: "style2",
                       classModifyImage: 'resize-card'
                     })
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-thumbnail-3.png',
                       title: 'Làm Chủ Cơn Giận',
                       description: 'Tác giả',
                       classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                       price: true,
                       classModify: "style2",
                       classModifyImage: 'resize-card'
                     })
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-thumbnail-3.png',
                       title: 'Làm Chủ Cơn Giận',
                       description: 'Tác giả',
                       classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                       price: true,
                       classModify: "style2",
                       classModifyImage: 'resize-card'
                     })
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-thumbnail.png',
                       title: 'Làm Chủ Cơn Giận',
                       description: 'Tác giả',
                       classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                       price: true,
                       classModify: "style2",
                       classModifyImage: 'resize-card'
                     })
         section.top-sale.mt-theme-30.mt-theme-30
           .container
             .row
               .col-12
                 +HeadingCard({
                   title: "Nhà xuất bản Kim Đồng (113 sách)",
                   className: 'justify-content-between mt-theme-6 mb-theme-6',
                   isViewAll: false
                 })
               .col-12
                 include ./includes/containers/SearchBox.pug
             .row
               each item in [1,2,3,4,5,6,7,8,9,10]
                 .col-lg-3.mb-theme-15.col-6.col-md-4
                   +CardComponent({
                     url: 'https://s3-alpha-sig.figma.com/img/5112/ac69/6d14cf14d83b0c363bdc8a8ba78a3f8b?Expires=1696809600&Signature=l3MckxG5N5xghfxAqb8ysWQJxjmyiE-knkkWlEvmBO7j6MnCNgFeNI5LlfQIBZPxXieDVb4ZV4jkehXqrBJ1dmyyoxu2kI1fKVXW3-91S2CWiku8u3X8trzs-pqr61z9FeCj3yyWaDpdArsgsYh9dMTVuL7GUWi2Pz9zb13PK-Dc3bpspZDJCE7EMvV8qSVIKqNdskzgIm9QeqE9FNrUN3gi7Ee3AspoyWZV4vhtxH~qUJgbv23USZsU9xTyr-ZL4gkN9WYUuY6sEghLCY1-bYCc6FqP8KpOVZMgJGOqD1AewYXAluOYhxFEDtIPrnA8P1w3Yzp8ECfXF8uarN-4Lg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4',
                     title: 'Làm Chủ Cơn Giận',
                     description: 'Tác giả',
                     classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                     price: true,
                     isNew: true,
                     classModify: "style2",
                     classModifyImage: 'resize-card'
                   })
               +Pagination()
