extends includes/layouts/Guest.pug

block pages
  .container
     include ./includes/components/Breadcrumb.pug
     .row
       .col-lg-3
         aside
           +ListGroupComponent({ isAccordion:true, name:"CHỦ ĐỀ",isSeeMore:true })
           +ListGroupComponent({ isAccordion:false, name:"TÁC GIẢ", className:'mt-theme-30',isSeeMore:true })
       .col-lg-9
         section
           .row
             .col-12
               img(src="./assets/images/image-banner-single.png" alt="")
         section.top-sale.bg-card-orange.mt-theme-30
           .container
             .row
               .col-12
                 +HeadingCard({
                   title: "Danh mục nổi bật",
                   className: 'justify-content-between mt-theme-6 mb-theme-6',
                   isViewAll: true
                 })
               .col-12
                 #carouselBookCategory.owl-carousel
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-category-small-01.png',
                       title: 'Truyện cổ tích',
                       classTitle: 'mt-theme-4 mb-theme-4 style-category-features',
                       classModify:'card-category'
                     })
                   .item
                     +CardComponent({
                       url: './assets/images/image-category-small.png',
                       title: 'Truyện cổ tích',
                       classTitle: 'mt-theme-4 mb-theme-4 style-category-features',
                       classModify:'card-category'
                     })
         section.top-sale.bg-card-orange.mt-theme-30.mt-theme-30
           .container
             .row
               .col-12
                 +HeadingCard({
                   title: "Gợi ý cho bạn",
                   className: 'justify-content-between mt-theme-6 mb-theme-6',
                   isViewAll: false
                 })
               .col-12
                 #carouselBookSuggest.owl-carousel
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-thumbnail.png',
                       title: 'Làm Chủ Cơn Giận',
                       description: 'Tác giả',
                       classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                       price: true,
                       classModify: "style2"
                     })
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-thumbnail-1.png',
                       title: 'Làm Chủ Cơn Giận',
                       description: 'Tác giả',
                       classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                       price: true,
                       classModify: "style2"
                     })
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-thumbnail-2.png',
                       title: 'Làm Chủ Cơn Giận',
                       description: 'Tác giả',
                       classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                       price: true,
                       classModify: "style2"
                     })
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-thumbnail-3.png',
                       title: 'Làm Chủ Cơn Giận',
                       description: 'Tác giả',
                       classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                       price: true,
                       classModify: "style2"
                     })
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-thumbnail-3.png',
                       title: 'Làm Chủ Cơn Giận',
                       description: 'Tác giả',
                       classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                       price: true,
                       classModify: "style2"
                     })
                   .item
                     +CardComponent({
                       url: './assets/images/image-book-thumbnail.png',
                       title: 'Làm Chủ Cơn Giận',
                       description: 'Tác giả',
                       classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                       price: true,
                       classModify: "style2"
                     })
         section.top-sale.mt-theme-30.mt-theme-30
           .container
             .row
               .col-12
                 +HeadingCard({
                   title: "Nhà xuất bản Kim Đồng (113 sách)",
                   className: 'justify-content-between mt-theme-6 mb-theme-6',
                   isViewAll: false
                 })
               include ./includes/containers/SearchBox.pug
               each item in [1,2,3,4,5,6,7,8,9,10,11,12]
                 .col-lg-4.mb-theme-15
                   +CardComponent({
                     url: './assets/images/image-book-cover.png',
                     title: 'Làm Chủ Cơn Giận',
                     description: 'Tác giả',
                     classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                     price: true,
                     isNew:true,
                     classModify: "style2"
                   })
               +Pagination()
