extends includes/layouts/Guest.pug

block pages
    .BookDetail
      .container
        include ./includes/components/Breadcrumb.pug
        +BookDetailInformation({typeGallery: true, isQuantity: true, action:true})
    section.top-sale.bg-card-orange
      .container
        .row
          .col-12
            +HeadingCard({
              title: "Gợi ý cho bạn",
              className: 'justify-content-between mt-theme-6 mb-theme-6',
              isViewAll: false
            })
          .col-12
            #carouselFlashSale02.owl-carousel
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                  price: true,
                  classModify: "style2"
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-1.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                  price: true,
                  classModify: "style2"
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-2.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                  price: true,
                  classModify: "style2"
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-3.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                  price: true,
                  classModify: "style2"
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-3.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                  price: true,
                  classModify: "style2"
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                  price: true,
                  classModify: "style2"
                })
    section.BookDetail-bottom
      .container
        .row
          .col-lg-9
            include ./includes/containers/BookDetailWrapper.pug
            include ./includes/containers/BookDetailPublishInformation.pug
            +BookDetailTab({isTab: true})
            include ./includes/components/Comment.pug
            +HeadingCard({
              title: "SÁCH CÙNG CHỦ ĐỀ",
              className: 'justify-content-between mt-theme-6 mb-theme-6',
              isViewAll: false
            })
            #carouselBookSameCategory.owl-carousel
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                  price: true,
                  classModify: "style2"
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-1.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                  price: true,
                  classModify: "style2"
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-2.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                  price: true,
                  classModify: "style2"
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-3.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                  price: true,
                  classModify: "style2"
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-3.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                  price: true,
                  classModify: "style2"
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4 bookname-15-pt-m',
                  price: true,
                  classModify: "style2"
                })
          .col-lg-3
            aside
              +ListGroupComponent({isAccordion: true, name: "CHỦ ĐỀ", isSeeMore:false})
              +ListGroupComponent({isAccordion: false, name: "TÁC GIẢ", className: 'mt-theme-30',isSeeMore:true})
