extends includes/layouts/Guest.pug

block pages
    .container
        include ./includes/components/Breadcrumb.pug
        .row
            .col-lg-8
                section
                .row
                    .col-12
                        include ./includes/containers/PaymentMethodBank.pug
            .col-lg-4
                    aside
                        +Bill({method: true, success: true})