extends includes/layouts/Guest.pug

block pages
    .container
        include ./includes/components/Breadcrumb.pug
        .PaymentSuccess 
            img.PaymentSuccess-icon(src="../assets/icons/exclamation-circle-fail.svg", alt="", srcset="")
            h3.PaymentSuccess-title Opp! Thanh toán thất bại
            ul
                li 
                    span Thanh toán thành công cho đơn hàng 
                    a(href='#') #928387323.
                li 
                    span Bạn có thể xem chi tiết đơn hàng tại 
                    a(href='#') Đơn hàng của tôi.
                li 
                    span Đọc sách Ebook đã mua tại 
                    a(href='#') Ebook của tôi.
                li 
                    span Xem hướng dẫn đọc ebook 
                    a(href='#') Tại đây.
            .PaymentSuccess-note        
                img(src="../../assets/icons/warning-3.svg", alt="", srcset="")
                p 
                    span Lưu ý: Với sách ebook, nếu đã đọc quá 10% số trang đầu tiên thì sẽ không được được hoàn tiền. 
                    a(href='#') Xem tại Chính sách hồi hoàn.
            .row.PaymentSuccess-btns
                .col-md-12
                    button.btn.btn-info Thử lại
