extends includes/layouts/Guest.pug

block pages
  .container
    .row
      //.col-12
      //  include ./includes/components/SelectDropdown.pug
      //  .cart
      //    each item in [1,2,3,4,5]
      //      .product
      //        include ./includes/components/Quantity.pug
      .col-12
        #accordionPanelsStayOpenExample.accordion.custom-icon
          .accordion-item
            h2#panelsStayOpen-headingOne.accordion-header
              button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseOne' aria-expanded='true' aria-controls='panelsStayOpen-collapseOne')
                | Accordion Item #1
            #panelsStayOpen-collapseOne.accordion-collapse.collapse.show(aria-labelledby='panelsStayOpen-headingOne')
              .accordion-body.pt-theme-6.pb-theme-6.pl-theme-30.pr-theme-30
                strong This is the first item&apos;s accordion body.
                |  It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
                code .accordion-body
                | , though the transition does limit overflow.
          .accordion-item
            h2#panelsStayOpen-headingTwo.accordion-header
              button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseTwo' aria-expanded='false' aria-controls='panelsStayOpen-collapseTwo')
                | Accordion Item #2
            #panelsStayOpen-collapseTwo.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingTwo')
              .accordion-body.pt-theme-6.pb-theme-6.pl-theme-30.pr-theme-30
                strong This is the second item&apos;s accordion body.
                |  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
                code .accordion-body
                | , though the transition does limit overflow.
          .accordion-item
            h2#panelsStayOpen-headingThree.accordion-header
              button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseThree' aria-expanded='false' aria-controls='panelsStayOpen-collapseThree')
                | Accordion Item #3
            #panelsStayOpen-collapseThree.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingThree')
              .accordion-body.pt-theme-6.pb-theme-6.pl-theme-30.pr-theme-30
                strong This is the third item&apos;s accordion body.
                |  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
                code .accordion-body
                | , though the transition does limit overflow.
        //#content.content
        //  each item in [1,2,3,4,5,6,7,8,9]
        //    p
        //      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget venenatis purus, at elementum purus. Integer vel enim non est malesuada consectetur. Fusce fermentum, nunc at convallis iaculis, elit ex posuere urna, sit amet euismod nulla nunc vel massa.
        //p#seeMoreBtn.btn-see-more
        //   span See More
        //#itemsContainer
        //  .item-list
        //    span.item-icon &#x2B50;&#xFE0F;
        //    span Item 1
        //  .item-list
        //    span Item 2
        //  .item-list
        //    span.item-icon &#x1F31F;
        //    span Item 3

      .col-6
        .BookDetail
          .BookDetail-gallery
            .BookDetail-gallery-thumbnail
              .BookDetail-gallery-thumbnail-carousel#big.owl-carousel.owl-theme
                a.item.position-relative(href="./assets/images/image-book-cover-detail.png" data-thumb-src='./assets/images/image-book-cover-detail-small.png' data-fancybox="gallery")
                  img(src='./assets/images/image-book-cover-detail.png')
                  span.BookDetail-gallery-thumbnail-carousel-background
                    img(src="./assets/images/image-badge-cover.png")
                a.item.position-relative(href="./assets/images/image-book-cover-detail-1.png" data-thumb-src='./assets/images/image-book-cover-detail-small-1.png' data-fancybox="gallery")
                  img(src='./assets/images/image-book-cover-detail-1.png')
                  span.BookDetail-gallery-thumbnail-carousel-background
                    img(src="./assets/images/image-badge-cover.png")
              div.d-flex.mt-theme-30.pl-theme-2
                .BookDetail-gallery-thumbnail-nav
                  #thumbs.owl-carousel.owl-theme
                    .item
                      img(src="./assets/images/image-book-cover-detail-small.png" width="80")
                    .item
                      img(src="./assets/images/image-book-cover-detail-small-1.png" width="80")
                a(href="./assets/images/image-book-cover-detail.png" data-thumb-src='./assets/images/image-book-cover-detail-small.png' data-fancybox="gallery").BookDetail-gallery-thumbnail-image.ml-theme-15.position-relative
                  img(src="./assets/images/image-thumbnail-smallx.png" width="74" height="74")
                  .BookDetail-gallery-thumbnail-image-overlay Xem thêm hình ảnh
                .BookDetail-gallery-thumbnail-icon.ml-theme-15.d-flex
                  a(href="#" ).BookDetail-suggest-wrapper-item.item-list.d-block
                    img(src="../../assets/icons/icon-book.svg" alt="" width="30" height="30")
                    span.mt-theme-4.ebook-text Đọc thử
                  a(href="#" ).BookDetail-suggest-wrapper-item.item-list.d-block
                    img(src="../../assets/icons/icon-audio.svg" alt="" width="30" height="30")
                    span.mt-theme-4.ebook-text Nghe thử

    //  .col-4
    //    aside.category
    //      +ListGroupComponent({ isAccordion:true, name:'chủ đề' })
    //  .col-2
    //    button.btn.btn-primary.d-block.w-100 Mua ngay
    //    button.btn.btn-orange-brand.mt-4.w-100 Mua ngay
    //    button.btn.btn-success.mt-4 Mua ngay
    //.row
    //  .col-2
    //    +CardComponent({url: './assets/images/image-card.png', title:'Benito', classTitle:'mt-theme-4 mb-theme-4'})
    //  .col-2
    //    +CardComponent({
    //      url: './assets/images/image-card-service.png',
    //      imageType:'rounded-circle' ,
    //      title: 'Cung cấp sách thư viện',
    //      classModify:'bg-card-orange',
    //      classTitle:'mt-theme-4 mb-theme-4'
    //    })
    //  .col-2
    //    +CardComponent({
    //      url: './assets/images/image-card-gif.jpg',
    //      imageType: 'rounded-circle',
    //      title: 'Sách giấy',
    //      description:'3,420 sách',
    //      classTitle:'mt-theme-4 mb-theme-4'
    //    })
    //  .col-2
    //    +CardComponent({
    //      url: './assets/images/image-book-thumbnail.png',
    //      title: 'Làm Chủ Cơn Giận',
    //      description: 'Tác giả',
    //      classTitle:'mt-theme-4 mb-theme-4',
    //      isRate: true,
    //      price: true
    //    })
    //  .col-2
    //      +CardComponent({
    //        url: './assets/images/image-book-thumbnail.png',
    //        title: 'Làm Chủ Cơn Giận',
    //        description: 'Tác giả',
    //        classTitle: 'mt-theme-4 mb-theme-4',
    //        isRate: true,
    //        price: true,
    //        footer:true,
    //        isSale: true
    //      })
    //  .col-12
    //    .owl-carousel#HomeBanner-top.style-dots-rectangle
    //      .item
    //        img(src="./assets/images/image-banner-slider-home.png" alt="")
    //      .item
    //        img(src="./assets/images/image-banner-slider-home-1.png" alt="")
    //  .col-12
    //    #carouselFlashSale.owl-carousel
    //      .item
    //        +CardComponent({
    //          url: './assets/images/image-book-thumbnail.png',
    //          title: 'Làm Chủ Cơn Giận',
    //          description: 'Tác giả',
    //          classTitle: 'mt-theme-4 mb-theme-4',
    //          isRate: true,
    //          price: true,
    //          footer: true,
    //          isSale: true
    //        })
    //      .item
    //        +CardComponent({
    //          url: './assets/images/image-book-thumbnail-1.png',
    //          title: 'Làm Chủ Cơn Giận',
    //          description: 'Tác giả',
    //          classTitle: 'mt-theme-4 mb-theme-4',
    //          isRate: true,
    //          price: true,
    //          footer: true
    //        })
    //      .item
    //        +CardComponent({
    //          url: './assets/images/image-book-thumbnail-2.png',
    //          title: 'Làm Chủ Cơn Giận',
    //          description: 'Tác giả',
    //          classTitle: 'mt-theme-4 mb-theme-4',
    //          isRate: true,
    //          price: true,
    //          footer: true
    //        })
    //      .item
    //        +CardComponent({
    //          url: './assets/images/image-book-thumbnail-3.png',
    //          title: 'Làm Chủ Cơn Giận',
    //          description: 'Tác giả',
    //          classTitle: 'mt-theme-4 mb-theme-4',
    //          isRate: true,
    //          price: true,
    //          footer: true
    //        })
    //      .item
    //        +CardComponent({
    //          url: './assets/images/image-book-thumbnail-3.png',
    //          title: 'Làm Chủ Cơn Giận',
    //          description: 'Tác giả',
    //          classTitle: 'mt-theme-4 mb-theme-4',
    //          isRate: true,
    //          price: true,
    //          footer: true,
    //          isSale: true
    //        })
    //      .item
    //        +CardComponent({
    //          url: './assets/images/image-book-thumbnail.png',
    //          title: 'Làm Chủ Cơn Giận',
    //          description: 'Tác giả',
    //          classTitle: 'mt-theme-4 mb-theme-4',
    //          isRate: true,
    //          price: true,
    //          footer: true,
    //          isSale: true
    //        })
    //  .col-12
    //    +HeadingCard({title:"Dịch vụ", className:'justify-content-center H0-24-B-heading-card', isViewAll: false})
    //    +HeadingCard({title:"Top sách giấy bán chạy", className:'justify-content-between', isViewAll: true})
