extends includes/layouts/Guest.pug

block pages
  -
    const options = ['Tùy chọn 1', 'Tùy chọn 2', 'Tùy chọn 3']
  .container
    .row
      //.col-12
      //  +Input({ type: 'text', label: 'Nhập vị trí', icon: './assets/icons/location.svg' })
      //  +Input({ type: 'dropdown', label: 'Chọn Tỉnh/TP', icon: './assets/icons/map.svg', options: ['Tùy chọn 1', 'Tùy chọn 2', 'Tùy chọn 3'], id: 'dropdown-1'})
      //  +Input({ type: 'textarea', label: 'Thêm ghi chú (ví dụ: Giao hàng vào giờ hành chính' })
      //.col-2
      //  button.btn.btn-primary.d-block.w-100 Mua ngay
      //  button.btn.btn-orange-brand.mt-4.w-100 Mua ngay
      //  button.btn.btn-success.mt-4 Mua ngay
      //.col-12
      //  include ./includes/components/SelectDropdown.pug
      //  .cart
      //    each item in [1,2,3,4,5]
      //      .product
      //        include ./includes/components/Quantity.pug
      .col-12
        //include ./includes/components/AccordionCustomIcon.pug
        //#content.content
        //  each item in [1,2,3,4,5,6,7,8,9]
        //    p
        //      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget venenatis purus, at elementum purus. Integer vel enim non est malesuada consectetur. Fusce fermentum, nunc at convallis iaculis, elit ex posuere urna, sit amet euismod nulla nunc vel massa.
        //p#seeMoreBtn.btn-see-more
        //   span See More
        //#itemsContainer
        //  .item-list
        //    span.item-icon &#x2B50;&#xFE0F;
        //    span Item 1
        //  .item-list
        //    span Item 2
        //  .item-list
        //    span.item-icon &#x1F31F;
        //    span Item 3

      //.col-6
      //  .BookDetail
      //    include ./includes/containers/BookDetailGallery02.pug
      //    include ./includes/containers/BookDetailGallery.pug

    //  .col-4
    //    aside.category
    //      +ListGroupComponent({ isAccordion:true, name:'chủ đề' })

    .row
      .col-3
        +CardComponent({
          url: './assets/images/image-book-thumbnail.png',
          title: 'Làm Chủ Cơn Giận',
          description: 'Tác giả',
          classTitle:'mt-theme-4 mb-theme-4',
          isRate: true,
          price: true,
          classModifyImage:'resize-card'
        })
      .col-3
        +CardComponent({
          url: './assets/images/image-book-chu-nhat.png',
          title: 'Làm Chủ Cơn Giận',
          description: 'Tác giả',
          classTitle: 'mt-theme-4 mb-theme-4',
          isRate: true,
          price: true,
          classModifyImage: 'resize-card'
        })
    //  .col-12
    //    .owl-carousel#HomeBanner-top.style-dots-rectangle
    //      .item
    //        img(src="./assets/images/image-banner-slider-home.png" alt="")
    //      .item
    //        img(src="./assets/images/image-banner-slider-home-1.png" alt="")
    //  .col-12
    //    #carouselFlashSale.owl-carousel
    //      .item
    //        +CardComponent({
    //          url: './assets/images/image-book-thumbnail.png',
    //          title: 'Làm Chủ Cơn Giận',
    //          description: 'Tác giả',
    //          classTitle: 'mt-theme-4 mb-theme-4',
    //          isRate: true,
    //          price: true,
    //          footer: true,
    //          isSale: true
    //        })
    //      .item
    //        +CardComponent({
    //          url: './assets/images/image-book-thumbnail-1.png',
    //          title: 'Làm Chủ Cơn Giận',
    //          description: 'Tác giả',
    //          classTitle: 'mt-theme-4 mb-theme-4',
    //          isRate: true,
    //          price: true,
    //          footer: true
    //        })
    //      .item
    //        +CardComponent({
    //          url: './assets/images/image-book-thumbnail-2.png',
    //          title: 'Làm Chủ Cơn Giận',
    //          description: 'Tác giả',
    //          classTitle: 'mt-theme-4 mb-theme-4',
    //          isRate: true,
    //          price: true,
    //          footer: true
    //        })
    //      .item
    //        +CardComponent({
    //          url: './assets/images/image-book-thumbnail-3.png',
    //          title: 'Làm Chủ Cơn Giận',
    //          description: 'Tác giả',
    //          classTitle: 'mt-theme-4 mb-theme-4',
    //          isRate: true,
    //          price: true,
    //          footer: true
    //        })
    //      .item
    //        +CardComponent({
    //          url: './assets/images/image-book-thumbnail-3.png',
    //          title: 'Làm Chủ Cơn Giận',
    //          description: 'Tác giả',
    //          classTitle: 'mt-theme-4 mb-theme-4',
    //          isRate: true,
    //          price: true,
    //          footer: true,
    //          isSale: true
    //        })
    //      .item
    //        +CardComponent({
    //          url: './assets/images/image-book-thumbnail.png',
    //          title: 'Làm Chủ Cơn Giận',
    //          description: 'Tác giả',
    //          classTitle: 'mt-theme-4 mb-theme-4',
    //          isRate: true,
    //          price: true,
    //          footer: true,
    //          isSale: true
    //        })
    //  .col-12
    //    +HeadingCard({title:"Dịch vụ", className:'justify-content-center H0-24-B-heading-card', isViewAll: false})
    //    +HeadingCard({title:"Top sách giấy bán chạy", className:'justify-content-between', isViewAll: true})
