extends includes/layouts/Guest.pug

block pages
   .container
     .row
       .col-12
         +HeadingCard({title:"Top sách giấy bán chạy", className:'justify-content-between H0-24-B-heading-card', isViewAll: true})
