extends includes/layouts/Guest.pug

block pages
     include ./includes/containers/Banner
     section.Category.has-bg
        +HeadingCard({title: "Danh mục sản phẩm", className: 'justify-content-center H0-24-B-heading-card', isViewAll: false})
        .container
          .Category-wrapper.row
            each item in [1,2,3,4,5]
              .Category-wrapper-item.mb-3.mb-xl-0
                +CardComponent({
                  url: './assets/images/image-card-gif.jpg',
                  imageType: 'rounded-circle',
                  title: 'Sách giấy',
                  description: '3,420 sách',
                  classTitle: 'mt-theme-4 mb-theme-4'
                })

     section.Category
      +HeadingCard({title: "Dịch vụ", className: 'justify-content-center H0-24-B-heading-card', isViewAll: false})
      .container
        .Category-wrapper.row.scroll-mobile
          each item in [1,2,3,4,5]
            .Category-wrapper-item.mb-3.mb-xl-0
              +CardComponent({
                url: './assets/images/image-card-service.png',
                imageType: 'rounded-circle',
                title: 'Cung cấp sách thư viện',
                classModify: 'bg-card-orange',
                classTitle: 'mt-theme-4 mb-theme-4'
              })
     section.banner-single
      .container
        .row
          .col-12
            img(src="./assets/images/image-banner-single.png" alt="")
     section.top-sale.bg-card-orange
      .container
        .row
          .col-12
            +HeadingCard({title: "Top sách giấy bán chạy", className: 'justify-content-between mt-theme-6 mb-theme-6', isViewAll: true})
          .col-12
            #carouselFlashSale.owl-carousel.mobile-disable-carousel
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4',
                  isRate: true,
                  price: true,
                  footer: true,
                  isSale: true
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-1.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4',
                  isRate: true,
                  price: true,
                  footer: true
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-2.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4',
                  isRate: true,
                  price: true,
                  footer: true
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-3.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4',
                  isRate: true,
                  price: true,
                  footer: true
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-3.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4',
                  isRate: true,
                  price: true,
                  footer: true,
                  isSale: true
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4',
                  isRate: true,
                  price: true,
                  footer: true,
                  isSale: true
                })
     section.top-sale
        .container
          .row
            .col-12
              +HeadingCard({
                title: "Top Ebook bán chạy",
                className: 'justify-content-between mt-theme-6 mb-theme-6',
                isViewAll: true
              })
            .col-12
              #carouselFlashSale01.owl-carousel.mobile-disable-carousel
                .item
                  +CardComponent({
                    url: './assets/images/image-book-thumbnail.png',
                    title: 'Làm Chủ Cơn Giận',
                    description: 'Tác giả',
                    classTitle: 'mt-theme-4 mb-theme-4',
                    isRate: true,
                    price: true,
                    footer: true,
                    isSale: true
                  })
                .item
                  +CardComponent({
                    url: './assets/images/image-book-thumbnail-1.png',
                    title: 'Làm Chủ Cơn Giận',
                    description: 'Tác giả',
                    classTitle: 'mt-theme-4 mb-theme-4',
                    isRate: true,
                    price: true,
                    footer: true
                  })
                .item
                  +CardComponent({
                    url: './assets/images/image-book-thumbnail-2.png',
                    title: 'Làm Chủ Cơn Giận',
                    description: 'Tác giả',
                    classTitle: 'mt-theme-4 mb-theme-4',
                    isRate: true,
                    price: true,
                    footer: true
                  })
                .item
                  +CardComponent({
                    url: './assets/images/image-book-thumbnail-3.png',
                    title: 'Làm Chủ Cơn Giận',
                    description: 'Tác giả',
                    classTitle: 'mt-theme-4 mb-theme-4',
                    isRate: true,
                    price: true,
                    footer: true
                  })
                .item
                  +CardComponent({
                    url: './assets/images/image-book-thumbnail-3.png',
                    title: 'Làm Chủ Cơn Giận',
                    description: 'Tác giả',
                    classTitle: 'mt-theme-4 mb-theme-4',
                    isRate: true,
                    price: true,
                    footer: true,
                    isSale: true
                  })
                .item
                  +CardComponent({
                    url: './assets/images/image-book-thumbnail.png',
                    title: 'Làm Chủ Cơn Giận',
                    description: 'Tác giả',
                    classTitle: 'mt-theme-4 mb-theme-4',
                    isRate: true,
                    price: true,
                    footer: true,
                    isSale: true
                  })
     section.top-sale.bg-card-orange
      .container
        .row
          .col-12
            +HeadingCard({
              title: "Top AudioBook bán chạy",
              className: 'justify-content-between mt-theme-6 mb-theme-6',
              isViewAll: true
            })
          .col-12
            #carouselFlashSale02.owl-carousel.mobile-disable-carousel
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4',
                  isRate: true,
                  price: true,
                  footer: true,
                  isSale: true
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-1.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4',
                  isRate: true,
                  price: true,
                  footer: true
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-2.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4',
                  isRate: true,
                  price: true,
                  footer: true
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-3.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4',
                  isRate: true,
                  price: true,
                  footer: true
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail-3.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4',
                  isRate: true,
                  price: true,
                  footer: true,
                  isSale: true
                })
              .item
                +CardComponent({
                  url: './assets/images/image-book-thumbnail.png',
                  title: 'Làm Chủ Cơn Giận',
                  description: 'Tác giả',
                  classTitle: 'mt-theme-4 mb-theme-4',
                  isRate: true,
                  price: true,
                  footer: true,
                  isSale: true
                })
     section.banner-two.pt-theme-60.pb-theme-60
       .container
         .row
           .col-lg-6.col-md-6.mb-3.mb-md-0
             img(src="./assets/images/image-banner-large.png")
           .col-lg-6.col-md-6.mb-3.mb-md-0
             img(src="./assets/images/image-banner-large.png")
