mixin AccordionComponent()
  #accordionFlushExample.accordion
    .accordion-item
      h2#flush-headingOne.accordion-header
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
          | Văn học
      #flush-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
        .accordion-body
          ul.accordion-body-children
            li.accordion-body-children-item
              a.accordion-body-children-item-link(href="#").active  Vừa học vừa chơi
            each item in [1,2,3,4,5]
              li.accordion-body-children-item
                a.accordion-body-children-item-link(href="#")  Kỹ năng thuyết trình
    .accordion-item
      h2#flush-headingTwo.accordion-header
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
          | Văn học 1
      #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
        .accordion-body
          ul.accordion-body-children
            li.accordion-body-children-item
              a.accordion-body-children-item-link(href="#").active  Vừa học vừa chơi
            each item in [1,2,3,4,5]
              li.accordion-body-children-item
                a.accordion-body-children-item-link(href="#")  Kỹ năng thuyết trình
    .accordion-item
      h2#flush-headingThree.accordion-header
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseThree' aria-expanded='false' aria-controls='flush-collapseThree')
          | Văn học 2
      #flush-collapseThree.accordion-collapse.collapse(aria-labelledby='flush-headingThree' data-bs-parent='#accordionFlushExample')
        .accordion-body
          ul.accordion-body-children
            li.accordion-body-children-item
              a.accordion-body-children-item-link(href="#").active  Vừa học vừa chơi
            each item in [1,2,3,4,5]
              li.accordion-body-children-item
                a.accordion-body-children-item-link(href="#")  Kỹ năng thuyết trình
