nav(aria-label='breadcrumb').mt-theme-15.mb-theme-15.coverbreadcrumb
  ol.breadcrumb
    li.breadcrumb-item
      a(href='#')
        svg(width='16' height='17' viewbox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M13.8868 5.84005L9.52014 2.34672C8.6668 1.66672 7.33347 1.66005 6.4868 2.34005L2.12014 5.84005C1.49347 6.34005 1.11347 7.34005 1.2468 8.12672L2.0868 13.1534C2.28014 14.2801 3.3268 15.1667 4.4668 15.1667H11.5335C12.6601 15.1667 13.7268 14.2601 13.9201 13.1467L14.7601 8.12005C14.8801 7.34005 14.5001 6.34005 13.8868 5.84005ZM8.50014 12.5001C8.50014 12.7734 8.27347 13.0001 8.00014 13.0001C7.7268 13.0001 7.50014 12.7734 7.50014 12.5001V10.5001C7.50014 10.2267 7.7268 10.0001 8.00014 10.0001C8.27347 10.0001 8.50014 10.2267 8.50014 10.5001V12.5001Z' fill='#062233' fill-opacity='0.5')
    li.breadcrumb-item
      a(href='#') Sách giấy
    li.breadcrumb-item.active(aria-current='page') Chi tiết sách
