.comment-box.mb-4
  h3.comment__title B&igrave;nh lu&#x1EAD;n
  .comment__list
    .comment__list-user
      .user__avatar T
      .user__name Duy Ph&#x1B0;&#x1A1;ng
    .comment__list-content
      p.list-content__cm S&aacute;ch r&#x1EA5;t hay v&agrave; ch&#x1EA5;t l&#x1B0;&#x1EE3;ng .Q&uacute;a tuy&#x1EC7;t v&#x1EDD;i !
      p.list-content__reply
        span.content__reply-name Tr&#x1EA3; l&#x1EDD;i
        small -23 gi&#x1EDD; tr&#x1B0;&#x1EDB;c
      .comment__list-rectangle
        .comment__list-user
          .user__avatar D
          .user__name
            | Th&agrave;nh Lu&acirc;n
            span.name-role Qu&#x1EA3;n tr&#x1ECB; vi&ecirc;n
        .comment__list-content
          p.list-content__cm
            span.cm-greeting Ch&agrave;o b&#x1EA1;n!
            br
            span B&#x1EA1;n &dstrok;ang c&#x1EA7;n t&#x1B0; v&#x1EA5;n g&igrave; &dstrok;&#x1EA5;y .Vui l&ograve;ng li&ecirc;n h&#x1EC7; v&#x1EDB;i ch&uacute;ng t&ocirc;i ^^.
            br
            span Xin c&#x1EA3;m &#x1A1;n b&#x1EA1;n.
          p.list-content__reply
            span.content__reply-name Tr&#x1EA3; l&#x1EDD;i
            small -23 gi&#x1EDD; tr&#x1B0;&#x1EDB;c
      .comment__reply
        form
          .comment__avatar
            .avt M
            input.reply(type='text' placeholder='Viết câu trả lời ..')
