.input-group
  +SelectDropdownCustom({idSelect: 'selectInput', idOptions:'optionInput', data: dataDropdownSearch})
  input.form-control(type='text' placeholder="Nhập từ khóa tìm kiếm" aria-label='Text input with dropdown button')
  span.icon-search
    img(src="./assets/icons/search-normal.svg" alt="")
