mixin ListGroupComponent({isAccordion, name, className, isSeeMore})
  .list-group(class=`${className ? className : ''}`)
    h3.list-group-item.header=name
    if !isAccordion
       each item in [1,2,3,4,5]
         a(href="#").list-group-item.list-group-item-action Phan Thị Vàng Anh
    else
      +AccordionComponent()
    if isSeeMore
        a(href="#").list-group-item.text-center
         | Xem thêm
         i.fa.fa-angle-down
