mixin Pagination()
  nav(aria-label='Page navigation example').mt-theme-6
    ul.pagination.justify-content-center.flex-wrap
      li.page-item.mb-lg-0.mb-0
        a.page-link(href='#' tabindex='-1')
          i.bi.bi-chevron-double-left
      li.page-item.mb-lg-0.mb-0
        a.page-link(href='#' tabindex='-1')
          i.bi.bi-chevron-left
      li.page-item.mb-lg-0.mb-0
        a.page-link(href='#') 1
      li.page-item.active.mb-lg-0.mb-0
        a.page-link(href='#') 2
      li.page-item.mb-lg-0.mb-0
        a.page-link(href='#') 3
      li.page-item.mb-lg-0.mb-0
        a.page-link(href='#')
          i.bi.bi-chevron-right
      li.page-item.mb-lg-0.mb-0
        a.page-link(href='#')
          i.bi.bi-chevron-double-right
