.Select
  .Select-style.d-flex.align-items-start.justify-content-center#customSelect
    h6.Select-label Thời gian
    i.fa.fa-caret-down.ml-theme-4
  div.Select-options.shadow#customOptions
    div.Select-option.option(data-value="1") 1 Tháng
    div.Select-option.option(data-value="2") 2 Tháng
    div.Select-option.option(data-value="3") 3 Tháng
    div.Select-option.option(data-value="4") Vĩnh viễn
