.Select
  .Select-style.d-flex#customSelect
    h6.Select-label Select an options
    i.fa.fa-angle-down
  div.Select-options.shadow#customOptions
    div.Select-option.option(data-value="1") 1 Tháng
    div.Select-option.option(data-value="2") 2 Tháng
    div.Select-option.option(data-value="3") 3 Tháng
